<div class="main-loader">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 20px; margin-bottom: 50px;">
  <h5 class='center-align'>Payments</h5>
  <table class="display nowrap compact" id="paymentTable">
    <thead>
      <tr>
        <th>Contract #</th>
        <th>Client</th>
        <th>Qty</th>
        <th>Total Value</th>
        <th>Currency</th>
        <th>Created By</th>
        <th>Sent to Vendor</th>
        <th>Status</th>
        <th>Confirmed Ship Date</th>
        <th>Approved Terms</th>
        <th>On Term Payment<br><small>(Finance to Track)<br>(Original Currency)</small></th>
        <th>KitOrder Payment Collected<br><small>(Original Currency)</small></th>
        <th>ISR Payment Collected<br><small>(Original Currency)</small></th>
        <th>ISR Refunded<br><small>(Original Currency)</small></th>
        <th>ISR Payment Date</th>
        <th>ISR Payment Type</th>
        <th>Notes</th>
        <th>JBA Invoice #</th>
        <th>Balance Outstanding<br><small>(Original Currency)</small></th>
        <th>Payment Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr>
        <td style="font-size: 12px;" class="center-align grey lighten-3">{{orderNum}}</td>
        <td style="font-size: 12px;" class="center-align grey lighten-3">{{client}}</td>
        <td style="font-size: 12px;" class="center-align grey lighten-3">{{qty}}</td>
        <td style="font-size: 12px;" class="center-align grey lighten-3">{{netValue}}</td>
        <td style="font-size: 12px;" class="center-align grey lighten-3">{{currency}}</td>
        <td style="font-size: 12px;" class="center-align grey lighten-3">{{isr}}</td>
        <td style="font-size: 12px;" class="center-align grey lighten-3">{{#if
          sentVendor}}{{formatDate sentVendor
          "DD-MMM"}}{{/if}}</td>
        <td style="font-size: 12px;" class="center-align grey lighten-3">{{shipStatus}}</td>
        <td style="font-size: 12px;" class="center-align grey lighten-3">{{#if
          vendorConfirmShip}}{{formatDate vendorConfirmShip
          "DD-MMM"}}{{/if}}</td>
        <td style="font-size: 12px;" class="center-align">{{approvedTerms}}</td>
        <td style="font-size: 12px;" class="center-align">{{onTermPayment}}</td>
        <td style="font-size: 12px;" class="center-align">{{kitOrderPayment}}</td>
        <td style="font-size: 12px;" class="center-align">{{isrCollectedOrig}}</td>
        <td style="font-size: 12px;" class="center-align">{{isrRefunded}}</td>
        <td style="font-size: 12px;" class="center-align">{{#if isrPaymentDate}}{{formatDate isrPaymentDate
          "DD-MMM"}}{{/if}}</td>
        <td style="font-size: 12px;" class="center-align">{{isrPaymentType}}</td>
        <td style="font-size: 12px;" class="center-align">{{paymentNotes}}</td>
        <td style="font-size: 12px;" class="center-align">{{jbaInvoiceNum}}</td>
        <td style="font-size: 12px;" class="center-align {{setPaymentStatus paymentStatus}}">{{balanceOutstanding}}</td>
        <td style="font-size: 12px;" class="center-align {{setPaymentStatus paymentStatus}}">{{paymentStatus}}</td>
        <td style="font-size: 12px;" class="center-align">
          <span>
            {{#if ../user.editOrders}}
            <a class="green-text btn-flat" href="/payments/edit/{{_id}}">
              <i class="material-icons">edit</i>
            </a>
            {{/if}}
          </span>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>