<div class="main-loader">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 20px; margin-bottom: 50px;">
  <div class="container center-align">
    <h5>{{pageTitle}}</h5>
    <small>Shift+scroll mouse wheel inside the table to scroll left and right</small>
  </div>
  <table class="display nowrap compact" id="paymentTable">
    <thead>
      <tr>
        <th class="center-align">Contract #</th>
        <th class="center-align">Client</th>
        <th class="center-align">Total Value</th>
        <th class="center-align">Balance Outstanding</th>
        <th class="center-align">Payment Status</th>
        <th class="center-align">Currency</th>
        <th class="center-align">Created By</th>
        <th class="center-align">Sent to Vendor</th>
        <th class="center-align">Status</th>
        <th class="center-align">Terms</th>
        <th class="center-align">On Term Payment</th>
        <th class="center-align">KitOrder Payment Collected</th>
        <th class="center-align">ISR Payment Collected</th>
        <th class="center-align">ISR Payment Date</th>
        <th class="center-align">ISR Payment Type</th>
        <th class="center-align">ISR Refunded<br></th>
        <th class="center-align">Notes</th>
        <th class="center-align">JBA Invoice #</th>
        <th class="center-align">Invoice Sent Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr>
        <td style="font-size: 12px;" class="center-align">{{orderNum}}</td>
        <td style="font-size: 12px;">{{client}}</td>
        <td style="font-size: 12px;" class="center-align">{{netValue}}</td>
        <td style="font-size: 12px;" class="center-align {{setPaymentStatus paymentStatus}}">{{balanceOutstanding}}</td>
        <td style="font-size: 12px;" class="center-align {{setPaymentStatus paymentStatus}}">{{paymentStatus}}</td>
        <td style="font-size: 12px;" class="center-align">{{currency}}</td>
        <td style="font-size: 12px;" class="center-align">{{isr}}</td>
        <td style="font-size: 12px;" class="center-align">{{#if
          sentVendor}}{{formatDate sentVendor
          "D-MMM-YY"}}{{/if}}</td>
        <td style="font-size: 12px;" class="center-align">{{shipStatus}}</td>
        <td style="font-size: 12px;" class="center-align">{{approvedTerms}}</td>
        <td style="font-size: 12px;" class="center-align">{{onTermPayment}}</td>
        <td style="font-size: 12px;" class="center-align">{{kitOrderPayment}}</td>
        <td style="font-size: 12px;" class="center-align">{{isrCollectedOrig}}</td>
        <td style="font-size: 12px;" class="center-align">{{#if isrPaymentDate}}{{formatDate isrPaymentDate
          "D-MMM-YY"}}{{/if}}</td>
        <td style="font-size: 12px;" class="center-align">{{isrPaymentType}}</td>
        <td style="font-size: 12px;" class="center-align">{{isrRefunded}}</td>
        <td style="font-size: 12px;" class="center-align">{{paymentNotes}}</td>
        <td style="font-size: 12px;" class="center-align">{{jbaInvoiceNum}}</td>
        <td style="font-size: 12px;" class="center-align">{{#if invoiceSent}}{{formatDate invoiceSent
          "D-MMM-YY"}}{{/if}}</td>
        <td style="font-size: 12px;" class="center-align valign-wrapper">
          <span>
            {{#if ../user.editOrders}}
            <a class="green-text" href="/payments/edit/{{_id}}">
              <i class="tiny material-icons">edit</i>
            </a>
            {{/if}}
          </span>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>