<div class="navbar-fixed">
  <nav class="black">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img src="/images/sugoi_sombrio_logos.png"></a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          {{!-- <li>
            <a href="/styles"><i class="fas fa-tshirt"></i> Styles</a>
          </li> --}}
          {{#if user}}
          <li>
            <a href="/orders"><i class="fas fa-box-open"></i> Orders</a>
          </li>
          {{#if user.viewProd}}
          <li>
            <a href="/prod"><i class="fas fa-calendar-check"></i> Production</a>
          </li>
          {{/if}}
          {{#if user.editOrders}}
          <li>
            <a href="/payments"><i class="fas fa-file-invoice-dollar"></i> Payments</a>
          </li>
          {{/if}}
          <li>
            <a class='dropdown-trigger btn' href="#" data-target="dropdown1" style="width: 180px;">{{getHandle
              user.username}}</a>
          </li>
          <ul id="dropdown1" class="dropdown-content">
            {{#if user.admin}}
            {{!-- <li>
              <a href="/reports"><i class="material-icons">assignment</i>Reports</a>
            </li> --}}
            <li>
              <a href="/users/admin"><i class="material-icons">supervised_user_circle</i>Manage Users</a>
            </li>
            {{/if}}
            <li>
              <a href="/users/password"><i class="material-icons">vpn_key</i>Change Password</a>
            </li>
            <li>
              <a href="/users/logout"><i class="material-icons">power_off</i> Logout</a>
            </li>
            {{/if}}
            <li>
              <a href="#"><small>v1.0.5</small></a>
            </li>
          </ul>
        </ul>
      </div>
    </div>
  </nav>
</div>
<ul class="sidenav" id="mobile-nav">
  {{#if user}}
  <li class="center-align">
    {{#if user.admin}}
    <div class="chip">
      <i class="fas fa-user-shield"></i>
      {{user.username}}
    </div>
    {{else}}
    <div class="chip">
      <i class="fas fa-user"></i>
      {{getHandle user.username}}
    </div>
    {{/if}}
  </li>
  {{/if}}
  {{!-- <li>
    <a href="/styles"><i class="material-icons">style</i>Styles</a>
  </li> --}}
  {{#if user}}
  <li>
    <a href="/orders"><i class="material-icons">color_lens</i>Orders</a>
  </li>
  {{#if user.viewProd}}
  <li>
    <a href="/prod"><i class="material-icons">
        assignment_turned_in
      </i> Production</a>
  </li>
  {{/if}}
  {{#if user.editOrders}}
  <li>
    <a href="/payments"><i class="material-icons">attach_money</i>Payments</a>
  </li>
  {{/if}}
  <li class="divider"></li>
  {{#if user.admin}}
  {{!-- <li>
    <a href="/reports"><i class="material-icons">assignment</i>Reports</a>
  </li> --}}
  <li>
    <a href="/users/admin"><i class="material-icons">supervised_user_circle</i>Manage Users</a>
  </li>
  {{/if}}
  <li>
    <a href="/users/password"><i class="material-icons">vpn_key</i>Change Password</a>
  </li>
  <li>
    <a href="/users/logout"><i class="material-icons">power_off</i>Logout</a>
  </li>
  {{else}}
  <li>
    <a href="/users/login"><i class="fas fa-sign-in-alt"></i> Staff Login</a>
  </li>
  {{/if}}
  <li class="center-align">
    <small class="muted">v1.0.5</small>
  </li>
</ul>