<div class="navbar-fixed">
  <nav class="black">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Sugoi/Sombrio Orders</a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="/styles"><i class="fas fa-tshirt"></i> Styles</a>
          </li>
          {{#if user}}
          <li>
            <a href="/orders"><i class="fas fa-box-open"></i> Orders</a>
          </li>
          <li>
            <a class='dropdown-trigger btn' href="#" data-target="dropdown1" style="width: 180px;">{{getHandle
              user.username}}</a>
          </li>
          <ul id="dropdown1" class="dropdown-content">
            {{#if user.admin}}
            <li>
              <a href="/users/register"><i class="fas fa-user-plus"></i> Register User</a>
            </li>
            {{/if}}
            <li>
              <a href="/users/password"><i class="fas fa-key"></i> Change Password</a>
            </li>
            <li>
              <a href="/users/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>
            {{else}}
            <li>
              <a href="/users/login"><i class="fas fa-sign-in-alt"></i> Login</a>
            </li>
            {{/if}}
          </ul>
        </ul>
      </div>
    </div>
  </nav>
</div>
<ul class="sidenav" id="mobile-nav">
  {{#if user}}
  <li class="center-align">
    {{#if user.admin}}
    <div class="chip">
      <i class="fas fa-user-shield"></i>
      {{user.username}}
    </div>
    {{else}}
    <div class="chip">
      <i class="fas fa-user"></i>
      {{getHandle user.username}}
    </div>
    {{/if}}
  </li>
  {{/if}}
  <li>
    <a href="/styles"><i class="fas fa-tshirt"></i> Styles</a>
  </li>
  {{#if user}}
  <li>
    <a href="/orders"><i class="fas fa-box-open"></i> Orders</a>
  </li>
  <li class="divider"></li>
  {{#if user.admin}}
  <li>
    <a href="/users/register"><i class="fas fa-user-plus"></i> Register User</a>
  </li>
  {{/if}}
  <li>
    <a href="/users/password"><i class="fas fa-key"></i> Change Password</a>
  </li>
  <li>
    <a href="/users/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
  </li>
  {{else}}
  <li>
    <a href="/users/login"><i class="fas fa-sign-in-alt"></i> Login</a>
  </li>
  {{/if}}
</ul>