<div style="margin-top: 20px; margin-bottom: 50px;" class="container">
  <table class="display nowrap" id="userTable">
    <thead>
      <tr>
        <th class="center-align">Username</th>
        <th class="center-align">Admin</th>
        <th class="center-align">Edit Orders</th>
        <th class="center-align">Edit Proofs</th>
        <th class="center-align">View Production</th>
        <th class="center-align">Edit Production</th>
        <th class="center-align">LG User</th>
        <th class="center-align">Actions</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {{#each employees}}
      <tr>
        <td style="font-size: 12px;" class="center-align">{{username}}</td>

        <td style="font-size: 12px;" class="center-align">{{#if admin}}<i class="material-icons">check_box</i>{{/if}}
        </td>
        <td style="font-size: 12px;" class="center-align">{{#if editOrders}}<i
            class="material-icons">check_box</i>{{/if}}</td>
        <td style="font-size: 12px;" class="center-align">{{#if editProofs}}<i
            class="material-icons">check_box</i>{{/if}}</td>
        <td style="font-size: 12px;" class="center-align">{{#if viewProd}}<i class="material-icons">check_box</i>{{/if}}
        </td>
        <td style="font-size: 12px;" class="center-align">{{#if editProd}}<i class="material-icons">check_box</i>{{/if}}
        </td>
        <td style="font-size: 12px;" class="center-align">{{#if lgUser}}<i class="material-icons">check_box</i>{{/if}}
        </td>
        <td style="font-size: 12px;" class="center-align">
          <span>
            <a class="green-text " href="/users/edit/{{_id}}" style="margin-right: 2px;"><i
                class="material-icons">edit</i></a>
            <a class="red-text modal-trigger" href="#modal{{@index}}" data-id="{{_id}}"><i
                class="material-icons">delete_forever</i></a>
          </span>
        </td>
      </tr>
      <!-- Modal Structure -->
      <div id="modal{{@index}}" class="modal">
        <div class="modal-content center-align">
          <h5>Are you sure you want to delete this user?</h5>
        </div>
        <div class="modal-footer">
          <a href="/users/delete/{{_id}}" class="modal-close waves-effect waves-lighten btn green white-text">Agree</a>
          <a href="#" class="modal-close waves-effect waves-lighten btn red white-text" autofocus>Cancel</a>
        </div>
      </div>
      {{/each}}
    </tbody>
  </table>
  {{#if user.editOrders}}
  <div class="fixed-action-btn">
    <a class="btn-floating waves-effect waves-light btn-large red tooltipped" data-position="left"
      data-tooltip="Add User" href="/users/register">
      <i class="large material-icons">add</i>
    </a>
  </div>
  {{/if}}
</div>