{{!-- <div class="row">
  {{#each styles}}
  <div class="col-sm-3">
    <div class="card card-body mb-2">
      <h5 class="card-title">{{LGstyleNum}} - {{styleNum}} - PRS: {{personalized}}</h5>
      <p class="card-text">{{styleName}}</p>
      {{#if active}}
      <h6><span class="badge badge-success">Active</span></h6>
      {{else}}
      {{/if}}
    </div>
  </div>
  {{else}}
  <p>No Styles to Show!</p>
  {{/each}}
</div> --}}

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">LG Style #</th>
      <th scope="col">Old Style #</th>
      <th scope="col">Style Name</th>
      <th scope="col">Brand</th>
      <th scope="col">Active</th>
      <th scope="col">Sizes</th>
    </tr>
  </thead>
  <tbody>
    {{#each styles}}
    <tr>
      <td>{{LGstyleNum}}</td>
      <td>{{styleNum}}</td>
      <td>{{styleName}}</td>
      <td>{{brand}}</td>
      {{#if active}}
      <td>True</td>
      {{else}}
      <td class="table-danger">False</td>
      {{/if}}
      <td>{{#each sizing}}<span class="badge badge-secondary mr-1">{{this}}</span>{{/each}}</td>
    </tr>
    {{/each}}

  </tbody>
</table>