<h3>Styles</h3>
<label for="myInput" class="small">Search for text in any field:</label>
<input class="form-control input-sm mb-2" id="myInput" type="text" placeholder="...">
<div class="table-responsive">
  <table class="table table-sm table-hover mb-5 table-condensed">
    <thead class="thead-dark tableHeaders">
      <tr>
        <th>LG Style #</th>
        <th>Old Style #</th>
        <th>Style Name</th>
        <th>Brand</th>
        <th>Sizes</th>
        <th class="head-center">FLUO</th>
        <th class="head-center">PRS</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {{#each styles}}
      <tr>
        <td>{{LGstyleNum}}</td>
        <td>{{styleNum}}</td>
        <td>{{styleName}}</td>
        <td>{{brand}}</td>
        <td>{{#each sizing}}<span class="badge badge-secondary">{{this}}</span>{{/each}}</td>
        {{#if fluo}}
        <td class="center"><i class="fas fa-check-circle"></i></td>
        {{else}}
        <td></td>
        {{/if}}
        {{#if personalized}}
        <td class="center"><i class="fas fa-check-circle"></i></td>
        {{else}}
        <td></td>
        {{/if}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>