<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sugoi Custom Proofs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <%- include partials/_navbar.ejs %>
  <div class="container">
    <p>Search for any text in style numbers, style names, or brand:</p>
    <input class="form-control input-sm" id="myInput" type="text" placeholder="Search..">
    <br>

    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">LG Style #</th>
          <th scope="col">Old Style #</th>
          <th scope="col">Style Name</th>
          <th scope="col">Brand</th>
          <th scope="col">Sizes</th>
          <th scope="col" class="head-center">FLUO</th>
          <th scope="col" class="head-center">PRS</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <% styles.forEach(function (style){ %>
        <tr>
          <td>
            <%= style.LGstyleNum %>
          </td>
          <td>
            <%= style.styleNum %>
          </td>
          <td>
            <%= style.styleName %>
          </td>
          <td>
            <%= style.brand %>
          </td>
          <td>
            <% style.sizing.forEach(function (sizes){ %><span class="badge badge-secondary mr-1">
              <%= sizes %></span>
            <% }); %>
          </td>
          <% if (style.fluo) { %>
          <td class="center"><i class="fas fas fa-check-circle fa-lg"></i></td>
          <% } else { %>
          <td></td>
          <% } %>
          <% if (style.personalized){ %>
          <td class="center"><i class="fas fas fa-check-circle fa-lg"></i></td>
          <% } else { %>
          <td></td>
          <% } %>
        </tr>
        <% }); %>

      </tbody>
    </table>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>
</body>

</html>