<div class="main-loader">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 20px; margin-bottom: 50px;">
  <table class="display" id="styleTable">
    <thead>
      <tr>
        <th>Style #</th>
        <th>Style Name</th>
        <th>Brand</th>
        <th>Sizes</th>
        <th class="center-align">FLUO</th>
        <th class="center-align">PRS</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {{#each styles}}
      <tr>
        <td style="font-size: 12px;">{{styleNum}}</td>
        <td style="font-size: 12px;">{{styleName}}</td>
        <td style="font-size: 12px;">{{brand}}</td>
        <td style="font-size: 12px;"><span class="new badge" data-badge-caption=""><span>{{#each sizing}}{{this}}
              {{/each}}</span></span></td>
        {{#if fluo}}
        <td class="center-align" style="font-weight: bold;">X</td>
        {{else}}
        <td></td>
        {{/if}}
        {{#if personalized}}
        <td class="center-align" style="font-weight: bold;">X</td>
        {{else}}
        <td></td>
        {{/if}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>