<h4>{{style.LGstyleNum}}</h4>
<table class="striped highlight responsive-table">
  <thead class="black white-text">
    <tr>
      <th>LG Style #</th>
      <th>Old Style #</th>
      <th>Style Name</th>
      <th>Brand</th>
      <th>Sizes</th>
      <th class="center-align">FLUO</th>
      <th class="center-align">PRS</th>
    </tr>
  </thead>
  <tbody id="myTable">
    <tr>
      <td>{{style.LGstyleNum}}</td>
      <td>{{style.styleNum}}</td>
      <td>{{style.styleName}}</td>
      <td>{{style.brand}}</td>
      <td><span class="new badge" data-badge-caption=""><span>{{#each style.sizing}}{{this}} {{/each}}</span></span></td>
      {{#if style.fluo}}
      <td class="center-align"><i class="fas fa-check-circle"></i></td>
      {{else}}
      <td></td>
      {{/if}}
      {{#if style.personalized}}
      <td class="center-align"><i class="fas fa-check-circle"></i></td>
      {{else}}
      <td></td>
      {{/if}}
    </tr>

  </tbody>
</table>