<h3>Style</h3>
<br>
<table class="striped highlight responsive-table">
  <thead class="black white-text">
    <tr>
      <th>LG Style #</th>
      <th>Old Style #</th>
      <th>Style Name</th>
      <th>Brand</th>
      <th>Sizes</th>
      <th class="center-align">FLUO</th>
      <th class="center-align">PRS</th>
    </tr>
  </thead>
  <tbody id="myTable">
    {{#each styles}}
    <tr>
      <td>{{LGstyleNum}}</td>
      <td>{{styleNum}}</td>
      <td>{{styleName}}</td>
      <td>{{brand}}</td>
      <td><span class="new badge" data-badge-caption=""><span>{{#each sizing}}{{this}} {{/each}}</span></span></td>
      {{#if fluo}}
      <td class="center-align"><i class="fas fa-check-circle"></i></td>
      {{else}}
      <td></td>
      {{/if}}
      {{#if personalized}}
      <td class="center-align"><i class="fas fa-check-circle"></i></td>
      {{else}}
      <td></td>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>