<section class="section center">
  <div class="container">
    <div class="row">
      <div class="card col s12">
        <div class="card-content">
          <span class="card-title">Add Order{{#if lgOrder}} - LG ORDER{{/if}}</span>
          <div class="card-action">
            <form action="/orders/add" method="POST">
              <span>
                <small>* required fields</small>
              </span>
              <br>
              <br>
              <div class="row">
                <div class="col s12 m6">
                  <div class="row">
                    <div class="input-field col s12 m6">
                      <input type="text" name="orderNum" id="orderNum" value="{{orderNum}}"
                        placeholder="enter contract #" class="validate" required>
                      <label for="orderNum">* {{#if lgOrder}}LG {{/if}}Contract #:</label>
                    </div>
                    <div class="input-field col s12 m6">
                      <select name="priority" id="priority">
                        {{#select priority}}
                        <option value=""></option>
                        <option value="RUSH">RUSH</option>
                        <option value="VIP">VIP</option>
                        {{/select}}
                      </select>
                      <label for="priority">Priority:</label>
                    </div>
                    <div class="input-field col s12 m6">
                      <select name="isr" id="isr">
                        {{#select isr}}
                        {{#each customReps}}
                        <option value="{{value}}">{{text}}</option>
                        {{/each}}
                        {{/select}}
                      </select>
                      <label for="isr">* ISR:</label>
                    </div>
                    <div class="input-field col s12 m6">
                      <select name="vendor" id="vendor">
                        {{#select vendor}}
                        <option value="CCN">CCN</option>
                        <option value="PNR">PNR</option>
                        <option value="MEX">MEX</option>
                        {{/select}}
                      </select>
                      <label for="vendor">* Vendor:</label>
                    </div>
                    <div class="input-field col s12 m6">
                      <input type="number" step=".01" name="estValue" id="estValue" value="{{estValue}}">
                      <label for="estValue">Estimated Value:</label>
                    </div>
                    <div class="input-field col s12 m6">
                      <select name="currency" id="currency">
                        {{#select vendor}}
                        <option value="CAD">CAD</option>
                        <option value="USD">USD</option>
                        {{/select}}
                      </select>
                      <label for="currency">Currency:</label>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6">
                  <div class="input-field col s12">
                    <textarea name="instruction" id="instruction"
                      class="materialize-textarea">{{#each instruction}}{{@last}}:{{this}}{{/each}}</textarea>
                    <label for="instruction">Initial Instructions:</label>
                  </div>
                </div>
                <div class="col s12">
                  <button class="btn waves-effect waves-light" type="submit" name="action"
                    style="margin-right: 10px;"><i class="fas fa-check-square"></i>
                    Submit
                  </button>
                  <a href="javascript:history.back()" id="cancel" name="cancel"
                    class="btn waves-effect waves-light red"><i class="fas fa-times"></i>
                    Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>