<section class="section center">
  <div class="container">
    <div class="row">
      <div class="card col s12">
        <div class="card-content">
          <span class="card-title">Add Order</span>
          <div class="card-action">
            <form action="/orders/add" method="POST">
              <span>
                <small>* required fields</small>
              </span>
              <br>
              <br>
              <div class="row">
                <div class="col s12 m6">
                  <div class="row">
                    <div class="input-field col s12 m6">
                      <input type="text" name="orderNum" id="orderNum" pattern="[0-9]{7}" maxlength="7"
                        value="{{orderNum}}" placeholder="enter 7 digit number" class="validate" required autofocus>
                      <label for="orderNum">* Contract #:</label>
                    </div>
                    <div class="input-field col s12 m6">
                      <select name="priority" id="priority">
                        {{#select priority}}
                        <option value=""></option>
                        <option value="RUSH">RUSH</option>
                        <option value="VIP">VIP</option>
                        {{/select}}
                      </select>
                      <label for="priority">Priority:</label>
                    </div>
                    <div class="input-field col s12 m6">
                      <i class="small material-icons prefix">today</i>
                      <input type="text" class="input-date" name="eventDate" id="eventDate">
                      <label for="eventDate">Event Date:</label>
                    </div>
                    <div class="input-field col s12 m6">
                      <i class="small material-icons prefix">today</i>
                      <input type="text" class="input-date" name="latestInHand" id="latestInHand">
                      <label for="latestInHand">Latest In-Hand Date:</label>
                    </div>
                    <div class="input-field col s12 m6">
                      <select name="isr" id="isr">
                        {{#select isr}}
                        {{#each customReps}}
                        <option value="{{value}}">{{text}}</option>
                        {{/each}}
                        {{/select}}
                      </select>
                      <label for="isr">* ISR:</label>
                    </div>
                    <div class="input-field col s12 m6">
                      <select name="vendor" id="vendor">
                        {{#select vendor}}
                        <option value="CCN">CCN</option>
                        <option value="PNR">PNR</option>
                        <option value="MEX">MEX</option>
                        {{/select}}
                      </select>
                      <label for="vendor">* Vendor:</label>
                    </div>

                    <div class="input-field col s12">
                      <input type="text" name="client" id="client" class="validate" value="{{client}}" required>
                      <label for="client">* Client:</label>
                    </div>
                    <div class="input-field col s12">
                      <input type="text" name="accountNum" id="accountNum" value="{{accountNum}}" class="validate"
                        required>
                      <label for="accountNum">* Account #:</label>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6">
                  <div class="input-field col s12">
                    <textarea name="instruction" id="instruction" class="materialize-textarea"
                      required>{{#each instruction}}{{@last}}:{{this}}{{/each}}</textarea>
                    <label for="instruction">Initial Instructions:</label>
                  </div>
                </div>
                <div class="col s12">
                  <button class="btn waves-effect waves-light" type="submit" name="action"
                    style="margin-right: 10px;"><i class="fas fa-check-square"></i>
                    Submit
                  </button>
                  <a href="javascript:history.back()" id="cancel" name="cancel"
                    class="btn waves-effect waves-light red"><i class="fas fa-times"></i>
                    Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{!--
<script>
  $(function () {
    $('#accountNum').keydown(function (e) {
      var key = e.charCode || e.keyCode || 0;
      $text = $(this);
      if (key !== 8 && key !== 9) {
        if ($text.val().length === 6) {
          $text.val($text.val() + '-');
        }
      }
      return (key == 8 || key == 9 || key == 46 || (key >= 48 && key <= 57) || (key >= 96 && key <= 105));
    })
  });
</script> --}}