<div class="main-loader">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 20px; margin-bottom: 50px;">
  <h5 class='center-align'>Production - Vendor</h5>
  <table class="display nowrap" id="prodCCNTable">
    <thead>
      <tr>
        <th>Sales Doc</th>
        <th>Customer Name</th>
        <th>Qty</th>
        <th>Vendor</th>
        <th>Sent to Vendor</th>
        <th>Latest Ship Date</th>
        <th>Event Date</th>
        <th>Added Services</th>
        <th>Conf. Ship Date</th>
        <th>Status</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr>
        <td style="font-size: 12px;" class="center-align">{{orderNum}}</td>
        <td style="font-size: 12px;" class="center-align">{{client}}</td>
        <td style="font-size: 12px;" class="center-align">{{qty}}</td>
        <td style="font-size: 12px;" class="center-align">{{vendor}}</td>
        <td style="font-size: 12px;" class="center-align">{{#if sentVendor}}{{formatDate sentVendor
          "D-MMM-YY"}}{{/if}}</td>
        <td style="font-size: 12px;" class="center-align">{{#if latestShipDate}}{{formatDate latestShipDate
          "D-MMM-YY"}}{{/if}}</td>
        <td style="font-size: 12px;" class="center-align">{{#if eventDate}}{{formatDate eventDate "D-MMM-YY"}}{{/if}}
        </td>
        <td style="font-size: 12px;" class="center-align">{{multishipPrePack}}</td>
        <td style="font-size: 12px;" class="center-align">{{#if vendorConfirmShip}}{{formatDate vendorConfirmShip
          "D-MMM-YY"}}{{/if}}</td>
        <td style="font-size: 12px;" class="center-align {{setShipStatus shipStatus}}">{{shipStatus}}</td>
        <td style="font-size: 12px;" class="center-align">{{shippingNotes}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>