<div class="container">
  <section class="section center">
    <div class="container">
      <form action="/orders/edit/{{order._id}}?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
          <div class="card col s12">
            <div class="card-content">
              <span class="card-title">Edit Order Details</span>
              <div class="row">
                <div class="col s12 m6 blue lighten-5" style="padding: 5px;">
                  <h6>ISR Entry Fields:</h6>
                  <div class="input-field col s12">
                    <input type="text" name="orderNum" value="{{order.orderNum}}" readonly>
                    <label for="orderNum">Contract #:</label>
                  </div>
                  <div class="input-field col s12">
                    <input type="text" name="client" placeholder="enter client name" class="validate" value="{{order.client}}"
                      required {{#if checkForSignOff}} {{#if user.admin}} {{else}} readonly{{/if}}{{/if}}> <label for="orderNum">Client:</label>
                  </div>
                  <div class="input-field col s12">
                    <input type="text" name="accountNum" id="accountNum" maxlength="10" value="{{order.accountNum}}"
                      placeholder="enter account number" class="validate" required {{#if checkForSignOff}}
                      {{#if user.admin}} {{else}} readonly{{/if}}{{/if}}> <label for="orderNum">Account #:</label>
                  </div>
                  <div class="input-field col s12 m6">
                    <select name="priority" {{#if checkForSignOff}} {{#if user.admin}} {{else}} readonly{{/if}}{{/if}}>
                      {{#select order.priority}} <option value=""></option>
                      <option value="RUSH">RUSH</option>
                      <option value="VIP">VIP</option>
                      {{/select}}
                    </select>
                    <label for="priority">Priority:</label>
                  </div>
                  <div class="input-field col s12 m6">
                    <select name="vendor" {{#if checkForSignOff}} {{#if user.admin}} {{else}} readonly{{/if}}{{/if}}>
                      {{#select order.vendor}} <option value="CCN">CCN</option>
                      <option value="PNR">PNR</option>
                      <option value="MEX">MEX</option>
                      {{/select}}
                    </select>
                    <label for="vendor">Vendor:</label>
                  </div>
                  <div class="input-field col s12">
                    <i class="material-icons prefix md-18">calendar_today</i>
                    <input type="text" class="input-date" name="eventDate" id="eventDate" value="{{formatDate order.eventDate
                      "MM/DD/YYYY"}}"
                      {{#if checkForSignOff}} {{#if user.admin}} {{else}} readonly{{/if}}{{/if}}> <label for="eventDate">Event
                    Date:</label>
                  </div>
                  <div class="input-field col s12">
                    <i class="material-icons prefix md-18">calendar_today</i>
                    <input type="text" class="input-date3" name="latestInHand" id="latestInHand" value="{{formatDate order.latestInHand
                      "MM/DD/YYYY"}}"
                      {{#if checkForSignOff}} {{#if user.admin}} {{else}} readonly{{/if}}{{/if}}> <label for="latestInHand">Latest
                    In-Hand Date:</label>
                  </div>
                </div>
                <div class="col s12 m6 lime lighten-5" style="padding: 5px;">
                  <h6>Art / Production Entry Fields:</h6>
                  <div class="input-field col s12">
                    <select name="currentArtist">
                      {{#select order.currentArtist}} <option value=""></option>
                      <option value="BCASTRO">BARBARA</option>
                      <option value="CSPARROW">CHAD</option>
                      <option value="DMENESES">DANIELA</option>
                      <option value="KKE">KELLY</option>
                      <option value="LHORVATH">LILLA</option>
                      <option value="RYUE">ROY</option>
                      <option value="WLIAO">WILLIAM</option>
                      {{/select}}
                    </select>
                    <label for="currentArtist">Current Artist:</label>
                  </div>
                  <div class="input-field col s12 center-align">
                    <select name="currentStatus" id="currentStatus"> {{#select order.currentStatus}}
                      <option value="A. Waiting for Proof" selected>Waiting for Proof</option>
                      <option value="B. Proof Started">Proof Started</option>
                      <option value="C. Proof - Waiting on Someone else">Proof - Waiting on Someone else</option>
                      <option value="D. Proof Ready for QC">Proof Ready for QC</option>
                      <option value="E. Proof QC Complete">Proof QC Complete</option>
                      <option value="F. Proof Complete">Proof Complete</option>
                      <option value="G. Waiting for Revision">Waiting for Revision</option>
                      <option value="H. Revision - Waiting on Someone else">Revision - Waiting on Someone else</option>
                      <option value="I. Revision Started">Revision Started</option>
                      <option value="J. Revision Ready for QC">Revision Ready for QC</option>\
                      <option value="K. Revision QC Complete">Revision QC Complete</option>
                      <option value="L. Revision Complete">Revision Complete</option>
                      <option value="M. Waiting for Output">Waiting for Output</option>
                      <option value="N. Output - Waiting on Someone else">Output - Waiting on Someone else</option>
                      <option value="O. Output Started">Output Started</option>
                      <option value="P. Output Ready for QC">Output Ready for QC</option>
                      <option value="Q. Output QC Complete">Output QC Complete</option>
                      <option value="R. Waiting for PNT">Waiting for PNT</option>
                      <option value="S. PNT Ready for QC">PNT Ready for QC</option>
                      <option value="T. PNT QC Complete">PNT QC Complete</option>
                      <option value="U. Uploaded">Uploaded</option>
                      <option value="V. Sent to Vendor">Sent to Vendor</option>
                      <option value="W. CANCELLED">CANCELLED</option>
                      {{/select}}
                    </select>
                    <label for="currentStatus">Status:</label>
                  </div>
                  <div id="productionDiv">
                    <div class="input-field col s6 l4">
                      <input type="number" name="qty" value="{{order.qty}}" {{#if checkForSignOff}} {{#if user.admin}}
                        {{else}} readonly{{/if}}{{/if}}> <label for="qty">Qty:</label>
                    </div>
                    <div class="input-field col s6 l4">
                      <input type="number" class="input-numeral" min="0.00" step="0.01" name="netValue" value="{{order.netValue}}"
                        {{#if checkForSignOff}} {{#if user.admin}} {{else}} readonly{{/if}}{{/if}}> <label for="netValue">Total
                      Value:</label>
                    </div>
                    <div class="input-field col s12 l4">
                      <select name="currency" {{#if checkForSignOff}} {{#if user.admin}} {{else}} readonly{{/if}}{{/if}}>
                        {{#select order.currency}} <option value=""></option>
                        <option value="CAD">CAD</option>
                        <option value="USD">USD</option>
                        {{/select}}
                      </select>
                      <label for="currency">Currency:</label>
                    </div>
                    <div class="input-field col s12">
                      <i class="material-icons prefix md-18">calendar_today</i>
                      <input type="text" class="input-date" name="latestShipDate" id="latestShipDate" value="{{formatDate order.latestShipDate
                      "MM/DD/YYYY"}}"
                        {{#if checkForSignOff}} {{#if user.admin}} {{else}} readonly{{/if}}{{/if}}> <label for="latestShipDate">Latest
                      Ship Date:</label>
                    </div>
                    <div class="input-field col s12">
                      <input type="text" name="multishipPrePack" value="{{order.multishipPrePack}}"
                        {{#if checkForSignOff}} {{#if user.admin}} {{else}} readonly{{/if}}{{/if}}> <label for="multishipPrePack">Added
                      Services:</label>
                    </div>
                  </div>
                </div>
                {{#if order.uploadDate}}
                <div class="col s6">
                  <br>
                  <span class="grey-text">Upload Date:</span> {{formatDate order.uploadDate "DD-MMM"}}
                </div>
                {{/if}}
                {{#if order.sentVendor}}
                <div class="col s6">
                  <br>
                  <span class="grey-text">Sent to Vendor:</span> {{formatDate order.sentVendor "DD-MMM"}}
                </div>
                {{/if}}
              </div>
              <div class="card-action">
                <button class="btn waves-effect waves-light" type="submit" name="action" style="margin-right: 10px;"><i
                    class="fas fa-check-square"></i>
                  Submit
                </button>
                <a href="javascript:history.back()" id="cancel" name="cancel" class="btn waves-effect waves-light red"><i
                    class="fas fa-times"></i>
                  Cancel</a>
              </div>
            </div>
          </div>
      </form>
    </div>
  </section>
</div>