<div class="container">
  <section class="section center">
    <div class="container">
      <form action="/orders/edit/{{order._id}}?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
          <div class="card col s12">
            <div class="card-content">
              <span class="card-title">Edit Order Details</span>
              <div class="row">
                <div class="col s12 m6 blue lighten-5" style="padding: 5px;">
                  <h6>ISR Entry Fields:</h6>
                  <div class="input-field col s12 m6">
                    <input type="text" id="orderNum" name="orderNum" value="{{order.orderNum}}" readonly>
                    <label for="orderNum">Contract #:</label>
                  </div>
                  <div class="input-field col s12 m6">
                    <input type="text" id="accountNum" name="accountNum" value="{{order.accountNum}}">
                    <label for="accountNum">Account #:</label>
                  </div>
                  <div class="input-field col s12 m6">
                    <select name="priority" id="priority">
                      {{#select order.priority}}
                      <option value=""></option>
                      <option value="RUSH">RUSH</option>
                      <option value="VIP">VIP</option>
                      {{/select}}
                    </select>
                    <label for="priority">Priority:</label>
                  </div>
                  <div class="input-field col s12 m6">
                    <select name="vendor" id="vendor">
                      {{#select order.vendor}}
                      <option value="CCN">CCN</option>
                      <option value="PNR">PNR</option>
                      <option value="MEX">MEX</option>
                      {{/select}}
                    </select>
                    <label for="vendor">Vendor:</label>
                  </div>
                  <div class="input-field col s12">
                    <i class="small material-icons prefix">today</i>
                    <input type="text" class="input-date" name="eventDate" id="eventDate"
                      value="{{formatDate order.eventDate "MM/DD/YYYY"}}">
                    <label for="eventDate">Event Date:</label>
                  </div>
                  <div class="input-field col s12">
                    <i class="small material-icons prefix">today</i>
                    <input type="text" class="input-date3" name="latestInHand" id="latestInHand"
                      value="{{formatDate order.latestInHand "MM/DD/YYYY"}}">
                    <label for="latestInHand">Latest In-Hand Date:</label>
                  </div>
                  <div class="input-field col s12 m6">
                    <input type="number" id="estValue" step=".01" name="estValue" value="{{order.estValue}}">
                    <label for="estValue">Estimated Value:</label>
                  </div>
                  <div class="input-field col s12 m6">
                    <select name="currency" id="currency">
                      {{#select order.currency}}
                      <option value="CAD">CAD</option>
                      <option value="USD">USD</option>
                      {{/select}}
                    </select>
                    <label for="currency">Currency:</label>
                  </div>
                </div>
                <div class="col s12 m6 lime lighten-5" style="padding: 5px;">
                  <h6>Art / Production Entry Fields:</h6>
                  <div class="input-field col s12">
                    <select name="currentArtist" id="currentArtist">
                      {{#select order.currentArtist}} <option value=""></option>
                      {{#each customArtists}}
                      <option value="{{value}}">{{text}}</option>
                      {{/each}}
                      {{/select}}
                    </select>
                    <label for="currentArtist">Current Artist:</label>
                  </div>
                  <div class="input-field col s12 center-align">
                    <select name="currentStatus" id="currentStatus"> {{#select order.currentStatus}}
                      <option value="1. Initial">Initial Order</option>
                      <option value="A. Waiting for Proof">Waiting for Proof</option>
                      <option value="B. Proof Started">Proof Started</option>
                      <option value="C. Proof - Waiting on Someone else">Proof - Waiting on Someone else</option>
                      <option value="D. Proof Ready for QC">Proof Ready for QC</option>
                      <option value="D-1. Proof QC in Progress">Proof QC in Progress</option>
                      <option value="E. Proof QC Complete">Proof QC Complete</option>
                      <option value="F. Proof Complete">Proof Complete</option>
                      <option value="G. Waiting for Revision">Waiting for Revision</option>
                      <option value="H. Revision - Waiting on Someone else">Revision - Waiting on Someone else</option>
                      <option value="I. Revision Started">Revision Started</option>
                      <option value="J. Revision Ready for QC">Revision Ready for QC</option>
                      <option value="J-1. Revision QC in Progress">Revision QC in Progress</option>
                      <option value="K. Revision QC Complete">Revision QC Complete</option>
                      <option value="L. Revision Complete">Revision Complete</option>
                      <option value="M. Waiting for Output">Waiting for Output</option>
                      <option value="N. Output - Waiting on Someone else">Output - Waiting on Someone else</option>
                      <option value="O. Output Started">Output Started</option>
                      <option value="P. Output Ready for QC">Output Ready for QC</option>
                      <option value="P-1. Output QC in Progress">Output QC in Progress</option>
                      <option value="Q. Output QC Complete">Output QC Complete</option>
                      <option value="R. Waiting for PNT">Waiting for PNT</option>
                      <option value="S. PNT Ready for QC">PNT Ready for QC</option>
                      <option value="S-1. PNT QC in Progress">PNT QC in Progress</option>
                      <option value="T. PNT QC Complete">PNT QC Complete</option>
                      <option value="U. Uploaded">Uploaded</option>
                      <option value="V. Sent to Vendor">Sent to Vendor</option>
                      <option value="W. CANCELLED">CANCELLED</option>
                      <option value="X. Archived">Archive Order</option>
                      {{/select}}
                    </select>
                    <label for="currentStatus">Status:</label>
                  </div>
                  <div id="productionDiv">
                    <div class="input-field col s6">
                      <i class="small material-icons prefix">today</i>
                      <input type="text" class="input-date" name="latestShipDate" id="latestShipDate" value="{{formatDate order.latestShipDate
                      "MM/DD/YYYY"}}">
                      <label for="latestShipDate">Latest Ship Date:</label>
                    </div>
                    <div class="input-field col s6">
                      <input type="text" name="jbaPONum" id="jbaPONum" value="{{order.jbaPONum}}">
                      <label for="jbaPONum">JBA PO#:</label>
                    </div>
                    <div class="input-field col s12">
                      <input type="text" name="multishipPrePack" id="multishipPrePack"
                        value="{{order.multishipPrePack}}">
                      <label for="multishipPrePack">Added Services:</label>
                    </div>
                  </div>
                  <div id="proofDiv">
                    <div class="col s12">
                      <div class="input-field">
                        <textarea name="instruction" id="instruction" class="materialize-textarea"
                          value="{{artDirection}}"></textarea>
                        <label for="instruction">Art Direction:</label>
                      </div>
                    </div>
                  </div>
                </div>
                {{#if order.uploadDate}}
                <div class="col s6">
                  <br>
                  <span class="grey-text">Upload Date:</span> {{formatDate order.uploadDate "D-MMM-YY"}}
                </div>
                {{/if}}
                {{#if order.sentVendor}}
                <div class="col s6">
                  <br>
                  <span class="grey-text">Sent to Vendor:</span> {{formatDate order.sentVendor "D-MMM-YY"}}
                </div>
                {{/if}}
              </div>
              <div class="card-action">
                <button class="btn waves-effect waves-light" type="submit" name="action" style="margin-right: 10px;"><i
                    class="fas fa-check-square"></i>
                  Submit
                </button>
                <a href="javascript:history.back()" id="cancel" name="cancel"
                  class="btn waves-effect waves-light red"><i class="fas fa-times"></i>
                  Cancel</a>
              </div>
            </div>
          </div>
      </form>
    </div>
  </section>
</div>

<script>
  $(function () {
    $('#accountNum').keydown(function (e) {
      var key = e.charCode || e.keyCode || 0;
      $text = $(this);
      if (key !== 8 && key !== 9) {
        if ($text.val().length === 6) {
          $text.val($text.val() + '-');
        }
      }
      return (key == 8 || key == 9 || key == 46 || (key >= 48 && key <= 57) || (key >= 96 && key <= 105));
    })
  });
</script>