<div class="container" style="margin-top: 20px; margin-bottom: 50px;">
  <table class="display nowrap" id="orderTable">
    <thead>
      <tr>
        <th data-priority="1">Order</th>
        <th data-priority="3">Status</th>
        <th data-priority="4">Priority</th>
        <th>Request Date</th>
        <th>Event Date</th>
        <th>Latest In-Hand Date</th>
        <th data-priority="6">ISR</th>
        <th data-priority="5">Client</th>
        <th data-priority="7">Artist</th>
        <th>Upload Date</th>
        <th>Sent to Vendor</th>
        <th data-priority="2"></th>
      </tr>
    </thead>
    <tbody id="myTable">
      {{#each orders}}
      <tr>
        <td style="font-size: 12px;">{{orderNum}}</td>
        <td style="font-size: 12px;">
          {{{setStatusDiv currentStatus}}}
        </td>
        <td style="font-size: 12px;">{{#if priority}}<div class="chip pink white-text" style="font-size: 10px;">{{priority}}</div>{{/if}}</td>
        <td style="font-size: 12px;">{{formatDate requestDate "MMM DD, YYYY"}}</td>
        <td style="font-size: 12px;">{{#if eventDate}}{{formatDate eventDate "MMM DD, YYYY"}}{{/if}}</td>
        <td style="font-size: 12px;">{{#if latestInHand}}{{formatDate latestInHand "MMM DD, YYYY"}}{{/if}}</td>
        <td style="font-size: 12px;">{{isr}}</td>
        <td style="font-size: 12px;">{{client}}</td>
        <td style="font-size: 12px;">{{currentArtist}}</td>
        <td style="font-size: 12px;">{{#if uploadDate}}{{formatDate uploadDate "MMM DD, YYYY"}}{{/if}}</td>
        <td style="font-size: 12px;">{{#if sentVendor}}{{formatDate sentVendor "MMM DD, YYYY"}}{{/if}}</td>
        <td style="font-size: 12px;"><a class="black waves-block waves-effect waves-light btn btn-small" href="/orders/view/{{_id}}"><i
              class="material-icons">
              remove_red_eye
            </i></a><a class="green waves-block waves-effect waves-light btn btn-small" href="/orders/edit/{{_id}}"><i
              class="material-icons">
              edit
            </i></a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if user.editOrders}}
  <div class="fixed-action-btn">
    <a class="btn-floating waves-effect waves-light btn-large grey tooltipped" data-position="left" data-tooltip="Add Order"
      href="orders/add">
      <i class="large material-icons">add</i>
    </a>
  </div>
  {{/if}}
</div>