<div style="margin-top: 20px; margin-bottom: 50px;">
  <table class="display" id="orderTable">
    <thead>
      <tr>
        <th>LG Style #</th>
        <th>Old Style #</th>
        <th>Style Name</th>
        <th>Brand</th>
        <th>Sizes</th>
        <th class="center-align">FLUO</th>
        <th class="center-align">PRS</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {{#each orders}}
      <tr>
        <td style="font-size: 12px;">{{LGstyleNum}}</td>
        <td style="font-size: 12px;">{{styleNum}}</td>
        <td style="font-size: 12px;">{{styleName}}</td>
        <td style="font-size: 12px;">{{brand}}</td>
        <td style="font-size: 12px;"><span class="new badge" data-badge-caption=""><span>{{#each sizing}}{{this}}
              {{/each}}</span></span></td>
        {{#if fluo}}
        <td class="center-align" style="font-weight: bold;">X</td>
        {{else}}
        <td></td>
        {{/if}}
        {{#if personalized}}
        <td class="center-align" style="font-weight: bold;">X</td>
        {{else}}
        <td></td>
        {{/if}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>