<div class="main-loader">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 20px; margin-bottom: 50px;">
  <h5 class='center-align'>{{pageTitle}} Orders</h5>
  <table class="display nowrap compact" id="orderTable">
    <thead>
      <tr>
        <th data-priority="1" class="center-align">Contract #</th>
        <th data-priority="3" class="center-align">Status</th>
        <th data-priority="4" class="center-align">Priority</th>
        <th class="center-align">Entered</th>
        <th class="center-align">Modified</th>
        <th class="center-align">Event Date</th>
        <th class="center-align">Latest In-Hand Date</th>
        <th data-priority="6" class="center-align">ISR</th>
        <th data-priority="5" class="center-align">Client</th>
        <th data-priority="7" class="center-align">Artist</th>
        <th class="center-align">Vendor</th>
        <th class="center-align">Upload Date</th>
        <th data-priority="2" class="center-align">Actions</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {{#each orders}}
      <tr>
        <td style="font-size: 14px;" class='center-align'>{{orderNum}} {{#if need3d}}<span class='badge blue lighten-3'
            style="color: black; font-size: 10px; max-width: 10px;">3D</span>{{/if}}{{#if needSketch}}<span
            class='badge red' style="color: white; font-size: 10px; max-width: 10px;">M</span>{{/if}}</td>
        <td style="font-size: 12px;" class="center-align {{setStatusDiv currentStatus}}">{{currentStatus}}</td>
        <td style="font-size: 12px;" class="center-align{{#if priority}} pink white-text{{/if}}">{{priority}}</td>
        <td style="font-size: 12px;" class="center-align">{{formatDate enteredDate "D-MMM-YY"}}</td>
        <td style="font-size: 12px;" class="center-align">{{formatDate updatedAt "D-MMM-YY"}}</td>
        <td style="font-size: 12px;" class="center-align">{{#if eventDate}}{{formatDate eventDate "D-MMM-YY"}}{{/if}}
        </td>
        <td style="font-size: 12px;" class="center-align">{{#if latestInHand}}{{formatDate latestInHand
          "D-MMM-YY"}}{{/if}}</td>
        <td style="font-size: 12px;" class="center-align">{{isr}}</td>
        <td style="font-size: 12px;" class="center-align">{{client}}</td>
        <td style="font-size: 12px;" class="center-align">{{currentArtist}}</td>
        <td style="font-size: 12px;" class="center-align">{{vendor}}</td>
        <td style="font-size: 12px;" class="center-align">{{#if uploadDate}}{{formatDate uploadDate
          "D-MMM-YY"}}{{/if}}</td>
        <td style="font-size: 12px;" class="center-align">
          <span>
            <a class="blue-text" href="/{{orderNum}}" target="_blank">
              <i class="material-icons">description</i>
            </a>
          </span>
          <span>
            <a class="black-text" href="/orders/view/{{_id}}">
              <i class="material-icons">remove_red_eye</i>
            </a>
          </span>
          <span>
            <a class="orange-text" href="/orders/po/{{orderNum}}">
              <i class="material-icons">list</i>
            </a>
          </span>
          <span>
            <a class="red-text" href="/orders/xml/{{orderNum}}">
              <i class="material-icons">code</i>
            </a>
          </span>
          <span>
            <a class="green-text" href="/orders/edit/{{_id}}">
              <i class="material-icons">edit</i>
            </a>
          </span>

        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if user.editOrders}}
  <div class="fixed-action-btn">
    <a class="btn-floating waves-effect waves-light btn-large green tooltipped" data-position="left"
      data-tooltip="Add Order" href="/orders/add">
      <i class="large material-icons">add</i>
    </a>
    <ul>
      {{#if user.editProofs}}
      {{!-- <li>
        <a href="/proofs/uploadform" class="btn-floating blue tooltipped" data-position="left" data-tooltip="Upload Proofs"><i
            class="material-icons">art_track</i></a>
      </li> --}}
      {{/if}}
    </ul>
  </div>
  {{/if}}
</div>