<div>
    <h5 class='center-align'>{{pageTitle}}</h5>
    <div style="margin: 20px 80px; overflow-x: auto; font-size: 12px;">
        <table id="{{order.orderNum}}" class="poTable">
            <tbody>
                <tr>
                    <td style="font-weight:bold;">SalesOrderNo</td>
                    <td style="font-weight:bold;">PONumber</td>
                    <td style="font-weight:bold;">PODate</td>
                    <td style="font-weight:bold;">ReqDeliveryDate</td>
                    <td style="font-weight:bold;">EventDate</td>
                    <td style="font-weight:bold;">MustShipByDate</td>
                    <td style="font-weight:bold;">JBA PO#</td>
                    <td style="font-weight:bold;">MultiShips</td>
                    <td style="font-weight:bold;">PrePacks</td>
                </tr>
                <tr>
                    <td id="orderNumberCell">{{order.orderNum}}</td>
                    <td>{{order.orderNum}}</td>
                    <td>{{formatDate poDate 'MM/DD/YYYY'}}</td>
                    <td>{{formatDate latestInHand 'MM/DD/YYYY'}}</td>
                    <td>{{formatDate eventDate 'MM/DD/YYYY'}}</td>
                    <td>{{formatDate latestShipDate 'MM/DD/YYYY'}}</td>
                    <td>{{jbaPONum}}</td>
                    <td>{{multiShips}}</td>
                    <td>{{prePacks}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">SoldToNumber</td>
                    <td style="font-weight:bold;">ShipToNumber</td>
                    <td style="font-weight:bold;">ShipToName</td>
                    <td style="font-weight:bold;">ContactPhone</td>
                    <td style="font-weight:bold;">ShipToAddress</td>
                    <td style="font-weight:bold;">ShipToCity</td>
                    <td style="font-weight:bold;">ShipToState</td>
                    <td style="font-weight:bold;">ShipToCountry</td>
                    <td style="font-weight:bold;">ShipToZipCode</td>
                </tr>
                <tr>
                    <td>{{order.accountNum}}</td>
                    <td>{{order.orderNum}}-{{order.accountNum}}</td>
                    <td>{{order.shipToName}}</td>
                    <td>{{order.contactPhone}}</td>
                    <td>{{order.shipToAddress}}</td>
                    <td>{{order.shipToCity}}</td>
                    <td>{{order.shipToProvState}}</td>
                    <td>{{order.shipToCountry}}</td>
                    <td>{{order.shipToPostalZip}}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Proof Link</td>
                    <td>http://proofs.sugoi.com/pdfs/{{order.orderNum}}.pdf</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">LineNo</td>
                    <td style="font-weight:bold;">ConfiguredStyle</td>
                    <td style="font-weight:bold;">USTariff</td>
                    <td style="font-weight:bold;">CATariff</td>
                    <td style="font-weight:bold;">Brand</td>
                    <td style="font-weight:bold;">Zipper</td>
                    <td style="font-weight:bold;">Thread</td>
                    <td style="font-weight:bold;">Contrast</td>
                    <td style="font-weight:bold;">Ink</td>
                    <td style="font-weight:bold;">Personalization</td>
                    <td style="font-weight:bold;">Scaled Art</td>
                    <td style="font-weight:bold;">XXS</td>
                    <td style="font-weight:bold;">XS</td>
                    <td style="font-weight:bold;">S</td>
                    <td style="font-weight:bold;">M</td>
                    <td style="font-weight:bold;">L</td>
                    <td style="font-weight:bold;">XL</td>
                    <td style="font-weight:bold;">XXL</td>
                    <td style="font-weight:bold;">XXXL</td>
                    <td style="font-weight:bold;">OneSize</td>
                    <td style="font-weight:bold;">Total</td>
                    <td style="font-weight:bold;">NetPrice</td>
                    <td style="font-weight:bold;">NetAmount</td>
                    <td style="font-weight:bold;">Template</td>
                </tr>
                {{#each items}}
                <tr>
                    <td>{{itemNumber}}</td>
                    <td>{{styleCode}}</td>
                    <td>{{usdTariff}}</td>
                    <td>{{cadTariff}}</td>
                    <td>{{brand}}</td>
                    <td>{{zipper}}</td>
                    <td>{{thread}}</td>
                    <td>{{contrast}}</td>
                    <td>{{inkType}}</td>
                    <td>{{#if personalization}}Y{{else}}N{{/if}}</td>
                    <td></td>
                    <td style="width: 30px;">{{xxs}}</td>
                    <td style="width: 30px;">{{xs}}</td>
                    <td style="width: 30px;">{{s}}</td>
                    <td style="width: 30px;">{{m}}</td>
                    <td style="width: 30px;">{{l}}</td>
                    <td style="width: 30px;">{{xl}}</td>
                    <td style="width: 30px;">{{xxl}}</td>
                    <td style="width: 30px;">{{xxxl}}</td>
                    <td style="width: 30px;">{{one}}</td>
                    <td>{{totalUnits}}</td>
                    <td>{{unitCost}}</td>
                    <td>{{netAmount totalUnits unitCost}}</td>
                    <td>{{autobahnCode}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</div>