<div class="main-loader">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 20px; margin-bottom: 50px;">
  <h5 class='center-align'>{{pageTitle}}</h5>
  <table class="display compact" id="prodTable">
    <thead>
      <tr>
        <th>Contract #</th>
        <th>Client</th>
        <th>Account #</th>
        <th>Qty</th>
        <th>Total Value</th>
        <th>Currency</th>
        <th>Vendor</th>
        <th>Created By</th>
        <th>Sent to Vendor</th>
        <th>Event Date</th>
        <th>Latest In-Hand</th>
        <th>Latest Ship Date</th>
        <th>Added Services</th>
        <th>MultiShips</th>
        <th>PrePacks</th>
        <th>Conf. Ship Date</th>
        <th>Status</th>
        <th>Tracking #</th>
        <th>Conf. Delivery Status</th>
        <th>Conf. Delivery Date</th>
        <th>JBA PO #</th>
        <th>JBA GNR #</th>
        <th>JBA Invoice #</th>
        <th>Notes</th>
        <th>Prod. Lead</th>
        <th>Shipping Lead</th>
        <th>Total Lead</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr>
        <td style="font-size: 12px;" class="center-align">{{orderNum}}</td>
        <td style="font-size: 12px;" class="center-align">{{client}}</td>
        <td style="font-size: 12px;" class="center-align">{{accountNum}}</td>
        <td style="font-size: 12px;" class="center-align">{{qty}}</td>
        <td style="font-size: 12px;" class="center-align">{{netValue}}</td>
        <td style="font-size: 12px;" class="center-align">{{currency}}</td>
        <td style="font-size: 12px;" class="center-align">{{vendor}}</td>
        <td style="font-size: 12px;" class="center-align">{{isr}}</td>
        <td style="font-size: 12px;" class="center-align">{{#if sentVendor}}{{formatDate sentVendor
          "D-MMM-YY"}}{{/if}}</td>
        <td style="font-size: 12px;" class="center-align">{{#if eventDate}}{{formatDate eventDate "D-MMM-YY"}}{{/if}}
        </td>
        <td style="font-size: 12px;" class="center-align">{{#if latestInHand}}{{formatDate latestInHand
          "D-MMM-YY"}}{{/if}}</td>
        <td style="font-size: 12px;" class="center-align">{{#if latestShipDate}}{{formatDate latestShipDate
          "D-MMM-YY"}}{{/if}}</td>
        <td style="font-size: 12px;" class="center-align">{{multishipPrePack}}</td>
        <td style="font-size: 12px;" class="center-align">{{multiShips}}</td>
        <td style="font-size: 12px;" class="center-align">{{prePacks}}</td>
        <td style="font-size: 12px;" class="center-align">{{#if vendorConfirmShip}}{{formatDate vendorConfirmShip
          "D-MMM-YY"}}{{/if}}</td>
        <td style="font-size: 12px;" class="center-align {{setShipStatus shipStatus}}">{{shipStatus}}</td>
        <td style="font-size: 12px;" class="center-align">{{tracking}}</td>
        <!-- pull from Shippo API -->
        <td style="font-size: 12px;" class="center-align {{setConfirmDeliveryStatus confirmDeliveryStatus}}">{{#if
          tracking}}<a
            href="https://www.fedex.com/apps/fedextrack/index.html?action=track&tracknumbers={{tracking}}&locale=en_CA&cntry_code=en"
            target="_blank" class="text-decoration:none !important;">{{confirmDeliveryStatus}} <i
              class="material-icons tiny">flight</i></a>
          {{/if}}</td>
        <!-- pull from Shippo API -->
        <td style="font-size: 12px;" class="center-align">{{#if confirmDeliveryDate}}{{formatDate confirmDeliveryDate
          "D-MMM-YY"}}{{/if}}</td>
        <td style="font-size: 12px;" class="center-align">{{jbaPONum}}</td>
        <td style="font-size: 12px;" class="center-align">{{jbaGNRNum}}</td>
        <td style="font-size: 12px;" class="center-align">{{jbaInvoiceNum}}</td>
        <td style="font-size: 12px;" class="center-align">{{shippingNotes}}</td>
        <td style="font-size: 12px;" class="center-align">{{prodLeadTime}}</td>
        <!-- Confirmed Ship Date - Sent to Vendor -->
        <td style="font-size: 12px;" class="center-align">{{shippingLeadTime}}</td>
        <!-- Confirmed Delivery Date - Confirmed Ship Date -->
        <td style="font-size: 12px;" class="center-align">{{totalLeadTime}}</td>
        <!-- Prod Lead Time + Shipping Lead Time -->
        <td style="font-size: 12px;" class="right-align">
          <span>
            {{#if tracking}}
            <a href="https://www.fedex.com/apps/fedextrack/index.html?action=track&tracknumbers={{tracking}}&locale=en_CA&cntry_code=en"
              target="_blank" class="text-decoration:none !important;"><i class="material-icons">flight</i></a>
            {{/if}}
            <a class="blue-text" href="/{{orderNum}}" target="_blank">
              <i class="material-icons">description</i>
            </a>
            {{#if ../user.editProd}}
            <a class="green-text" href="/prod/edit/{{_id}}">
              <i class="material-icons">edit</i>
            </a>
            {{/if}}
          </span>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>