<div class="container">
  <section class="section">
    <form action="/prod/edit/{{order._id}}?_method=PUT" method="post">
      <input type="hidden" name="_method" value="PUT">
      <div class="row">
        <div class="card col s12">
          <div class="card-content">
            <span class="card-title">Edit Production Details</span>
            <div class="row" style="margin-bottom: 0px;">
              <div class="col s12 m6">
                <div class="col s12 grey lighten-3" style="padding: 0px 20px; font-size: 12px; margin-bottom: 10px;">
                  <h6>Order Information:</h6>
                  <hr>
                  <div class="row">
                    <div class="col s12 m4">
                      <span class="grey-text">Contract #: </span>{{order.orderNum}}
                    </div>
                    <div class="col s12 m8">
                      <span class="grey-text">Client: </span>{{order.client}}
                    </div>
                    <div class="col s12 m4">
                      <span class="grey-text">Account #: </span>{{order.accountNum}}
                    </div>
                    <div class="col s12 m8">
                      <span class="grey-text">Created By: </span>{{order.isr}}
                    </div>
                  </div>
                  <h6>Production Information:</h6>
                  <div class="row">
                    <div class="col s12 m4">
                      <span class="grey-text">Vendor: </span>{{order.vendor}}
                    </div>
                    <div class="col s12 m8">
                      <span class="grey-text">Priority: </span>{{order.priority}}
                    </div>
                    <div class="col s12 m4">
                      <span class="grey-text">Event Date: </span>{{formatDate order.eventDate "DD-MMM"}}
                    </div>
                    <div class="col s12 m8">
                      <span class="grey-text">Latest In-Hand: </span>{{formatDate order.latestInHand "DD-MMM"}}
                    </div>
                  </div>
                </div>
                <div class="input-field col s6 l4">
                  <input type="number" name="qty" id="qty" value="{{order.qty}}">
                  <label for="qty">Qty:</label>
                </div>
                <div class="input-field col s6 l4">
                  <i class="small material-icons prefix">attach_money</i>
                  <input type="number" class="input-numeral" min="0.00" step="0.01" name="netValue" id="netValue" value="{{order.netValue}}">
                  <label for="netValue">Total Value:</label>
                </div>
                <div class="input-field col s12 l4">
                  <select name="currency" id="currency">
                    {{#select order.currency}} <option value="CAD">CAD</option>
                    <option value="USD">USD</option>
                    {{/select}}
                  </select>
                  <label for="currency">Currency:</label>
                </div>
                <div class="input-field col s12 l6">
                  <i class="small material-icons prefix">today</i>

                  <input type="text" class="input-date2" name="latestShipDate" id="latestShipDate" value="{{formatDate order.latestShipDate
                      "MM/DD/YYYY"}}">
                  <label for="latestShipDate">Latest Ship Date:</label>
                </div>
                <div class="input-field col s12 l6">
                  <input type="text" name="multishipPrePack" id="multishipPrePack" value="{{order.multishipPrePack}}">
                  <label for="multishipPrePack">Added Services:</label>
                </div>
                <div class="input-field col s12 l6">
                  <i class="small material-icons prefix">today</i>
                  <input type="text" class="input-date2" name="vendorConfirmShip" id="vendorConfirmShip" value="{{formatDate order.vendorConfirmShip "MM/DD/YYYY"}}">
                  <label for="vendorConfirmShip">Confirmed Ship Date:</label>
                </div>

                <div class="input-field col s12 l6">
                  <input type="text" name="jbaPONum" id="jbaPONum" value="{{order.jbaPONum}}">
                  <label for="jbaPONum">JBA PO #:</label>
                </div>
                <div class="input-field col s12 l6">
                  <input type="text" name="jbaGNRNum" id="jbaGNRNum" value="{{order.jbaGNRNum}}">
                  <label for="jbaGNRNum">JBA GNR #:</label>
                </div>
                <div class="input-field col s12 l6">
                  <input type="text" name="jbaInvoiceNum" id="jbaInvoiceNum" value="{{order.jbaInvoiceNum}}">
                  <label for="jbaInvoiceNum">JBA Invoice #:</label>
                </div>
              </div>
              <div class="col s12 m6">
                <div class="row">
                  <div class="col s12 black white-text" style="padding: 10px; margin-bottom: 10px;">
                    <span>Sent to Vendor:</span> {{formatDate order.sentVendor "DD-MMM"}}
                  </div>
                  <div class="input-field col s12">
                    <select name="shipStatus" id="shipStatus">
                      {{#select order.shipStatus}}
                      <option value=""></option>
                      <option value="Shipped">Shipped</option>
                      {{/select}}
                    </select>
                    <label for="shipStatus">Vendor Shipping Status:</label>
                  </div>
                  <div class="col s12" style="margin-bottom: 5px;">
                    <h6 class="black white-text" style="padding: 5px;">Shipping Information</h6>
                  </div>
                  <div class="input-field col s12">
                    <input type="text" name="tracking" id="tracking" class="input-numeral" maxlength="12" value="{{order.tracking}}">
                    <label for="tracking">Tracking #:</label>
                  </div>
                  <div class="col s12 l6">
                    <span class="grey-text">Confirmed Delivery Status: </span><br>{{order.confirmDeliveryStatus}}
                  </div>
                  <div class="col s12 l6">
                    <span class="grey-text">Confirmed Delivery Date: </span><br>{{formatDate order.confirmDeliveryDate
                    "DD-MMM"}}
                  </div>
                  <div class="input-field col s12">
                    <textarea name="shippingNotes" id="shippingNotes" class="materialize-textarea">{{order.shippingNotes}}</textarea>
                    <label for="shippingNotes">Production Notes:</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-action center-align">
              <button class="btn waves-effect waves-light" type="submit" name="action" style="margin-right: 10px;"><i
                  class="fas fa-check-square"></i>
                Submit
              </button>
              <a href="javascript:history.back()" id="cancel" name="cancel" class="btn waves-effect waves-light red"><i
                  class="fas fa-times"></i>
                Cancel</a>
            </div>
          </div>
        </div>
    </form>
  </section>
</div>