<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="col s12 center-align" style="padding: 15px;">
          <div class="col s12" style="margin-bottom: 5px; margin-top: 0px;">
            <span style="font-weight:100; font-size:1.5rem;">Order Details: {{order.orderNum}}</span>
          </div>
        </div>
        <div class="col s12 center-align" style="padding: 10px;">
          <span style="font-weight:300; font-size:1.25em; margin-right: 5px;">Current Status:</span><br><span
            style="font-weight:600; font-size:1.5rem;">{{stripStatusCode
                order.currentStatus}}</span>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col s12 center-align" style="padding: 6px 0;">
          <span class="grey-text">Entered: </span>{{formatDate order.enteredDate "D-MMM-YY"}}
        </div>
        {{#if order.eventDate}}
        <div class="col s6 center-align" style="padding: 6px 0;">
          <span class="grey-text">Event Date:</span><br>{{formatDate order.eventDate "D-MMM-YY"}}
        </div>
        {{/if}}
        {{#if order.latestInHand}}
        <div class="col s6 center-align" style="padding: 6px 0;">
          <span class="grey-text">Needed In-Hand:</span><br>{{formatDate order.latestInHand "D-MMM-YY"}}
        </div>
        {{/if}}
        {{#if order.currentArtist}}
        <div class="col s6 center-align" style="padding: 6px 0;">
          <span class="grey-text">Current Artist:</span><br>{{order.currentArtist}}
        </div>
        {{/if}}
      </div>
      {{#if order.instructions}}
      <hr>
      <div class="row center-align">
        <div class="col s12">
          <h6 style="font-weight: 600;">Order Notes</h5>
            <div class="instructionsBox">
              <ul class="collapsible">
                {{#each (getInstructions order.instructions)}}
                <li>
                  <div class="collapsible-header {{catNotes this.instructionType}} valign-wrapper"
                    style="display: block; height: 35px;">
                    <span class='left'><i class="material-icons">expand_more</i></span>
                    <span>{{formatDate this.date "D-MMM-YY"}} -
                      {{this.user}} - {{this.instructionType}}</span>
                    <span class='right'><a class="white-text" href="/orders/note-edit/{{this._id}}">
                        <i class="material-icons">edit</i>
                      </a></span>
                  </div>
                  <div class="collapsible-body white">{{this.instruction}}</div>
                </li>
                {{/each}}
              </ul>
            </div>
        </div>
      </div>
      {{/if}}
    </div>

    {{#if user.editOrders}}
    <div class="fixed-action-btn" id="viewActionButton">
      <a href="/orders/edit/{{order._id}}" class="btn-floating btn-large green tooltipped" data-position="left"
        data-tooltip="Edit Order Details">
        <i class="large material-icons">edit</i>
      </a>
      <ul>
        {{#if user.editProofs}}
        {{#if (checkForQCStatus order.currentStatus)}}
        <li><a href="/proofs/qc/{{order.orderNum}}" class="btn-floating red tooltipped" data-position="left"
            data-tooltip="QC Order"><i class="material-icons">touch_app</i></a></li>
        {{/if}}
        <li><a href="/proofs/qc/archive/view/{{order.orderNum}}" class="btn-floating red tooltipped"
            data-position="left" data-tooltip="QC Archive"><i class="material-icons">
              format_list_bulleted
            </i></a></li>
        {{/if}}
        <li>
          <a href="#modal2" class="btn-floating grey lighten-1 tooltipped modal-trigger" data-position="left"
            data-tooltip="Add Notes/Instructions">
            <i class="material-icons">add_comment</i>
          </a>
        </li>
        {{#if (checkForRevisionStatus order.currentStatus)}}
        <li>
          <a href="#modal1" class="btn-floating light-blue lighten-2 waves-effect waves-light tooltipped modal-trigger"
            data-position="left" data-tooltip="Request Revision">
            <i class="material-icons">flag</i>
          </a>
        </li>
        {{/if}}
      </ul>
    </div>
    {{/if}}

    <!-- Add Revision Modal -->
    <div id="modal1" class="modal">
      <form action="/orders/revision/{{order._id}}?_method=PUT" method="post">
        <div class="container">
          <input type="hidden" name="_method" value="PUT">
          <div class="modal-content">
            <div class="row">
              <div class="input-field col s12">
                {{#select order.isr}}
                <select name="isr">
                  <option value="DOSULLIVAN">Dean</option>
                  <option value="RPILLER">Reed</option>
                  <option value="SROBINSON">Sheila</option>
                  <option value="MBELLEAU">MJ</option>
                  <option value="TKAINTH">TJ</option>
                </select>
                {{/select}}
                <label for="isr">Revision Requested By:</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea name="instruction" class="materialize-textarea" placeholder="type instructions here..."
                  required></textarea>
                <label for="instruction">Revision Instructions:</label>
              </div>

            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="modal-action modal-close btn waves-effect waves-light" type="submit" name="action"
            style="margin-right: 10px;"><i class="fas fa-check-square"></i>
            Submit
          </button>
          <a href="#" id="cancel" name="cancel" class="modal-action modal-close btn waves-effect waves-light red"><i
              class="fas fa-times"></i>
            Cancel</a>
        </div>
      </form>
    </div>

    <!-- Add Notes Modal -->
    <div class="container">
      <div class="container"></div>
      <div id="modal2" class="modal">
        <form action="/orders/notes/{{order._id}}?_method=PUT" method="post">
          <input type="hidden" name="_method" value="PUT">
          <div class="modal-content">
            <div class="row">
              <div class="input-field col s12 m6">
                <input style="text-transform: uppercase;" placeholder="enter name..." name="noteUser" type="text"
                  class="validate" {{#if user}} value="{{getHandle
              user.username}}" {{/if}} required>
                <label for="noteUser">Note By:</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea name="instruction" class="materialize-textarea" required></textarea>
                <label for="instruction">Enter Note Details:</label>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button class="modal-action modal-close btn waves-effect waves-light" type="submit" name="action"
              style="margin-right: 10px;"><i class="fas fa-check-square"></i>
              Submit
            </button>
            <a href="#" id="cancel" name="cancel" class="modal-action modal-close btn waves-effect waves-light red"><i
                class="fas fa-times"></i>
              Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>

  {{#if user}}
  <div id="backButton"><a href="/orders"><i class="material-icons large">chevron_left</i></a></div>
  {{/if}}

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elem = document.querySelector('.fixed-action-btn');
      var instance = M.FloatingActionButton.init(elem);
      instance.open();
    })
  </script>