<div class="container">
  <div class="row">
    <div class="col s12 l4">
      <div class="detailsBox center-align">
        <div class="row black white-text">
          {{#if user}}
          <div class="col s12 m6 center-align">
            Order Details - {{order.orderNum}}
          </div>
          <div class="col s12 m6 center-align">
            {{order.currentStatus}}
          </div>
          {{else}}
          <div class="col s12 center-align">
            Order Details - {{order.orderNum}}
          </div>
          {{/if}}
        </div>
        <div class="row">
          <div class="col s6 center-align">
            <span class="grey-text">Client:</span><br>{{order.client}}
          </div>
          <div class="col s6 center-align">
            <span class="grey-text">Entered:</span><br>{{formatDate order.requestDate "MMM DD, YYYY"}}
          </div>
        </div>
        <div class="row">
          {{#if order.eventDate}}
          <div class="col s6 center-align">
            <span class="grey-text">Event Date:</span><br>{{formatDate order.eventDate "MMM DD, YYYY"}}
          </div>
          {{/if}}

          {{#if order.latestInHand}}
          <div class="col s6 center-align">
            <span class="grey-text">Needed In-Hand:</span><br>{{formatDate order.latestInHand "MMM DD, YYYY"}}
          </div>
          {{/if}}
        </div>
        {{#if user}}
        <div class="row">
          {{#if order.currentArtist}}
          <div class="black white-text col s12 center-align">
            <span class="grey-text">Current Artist:</span><br>{{order.currentArtist}}
          </div>
          {{/if}}
          {{#if order.instructions}}
          <div class="col s12 center-align">
            <br>
            <h6>Order Notes</h6>
            <div class="instructionsBox center-align">
              <ul class="collapsible">
                {{#each (getInstructions order.instructions)}}
                <li>
                  <div class="collapsible-header valign-wrapper {{{catNotes this.instructionType}}}">
                    <div class="col s9 left-align valign-wrapper">
                      <i class="material-icons left">expand_more</i>{{formatDate this.date "MMM DD, YYYY"}} -
                      {{this.user}} - {{this.instructionType}}
                    </div>
                    <div class="col s3 right-align valign-wrapper">
                      <a class="white-text" href="/orders/note-edit/{{this._id}}">
                        <i class="material-icons right">edit</i>
                      </a>
                    </div>
                  </div>
                  <div class="collapsible-body white">{{this.instruction}}</div>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
          {{/if}}
        </div>
        {{/if}}
      </div>
    </div>
    <div class="col s12 l8">
      <div id="proofWindow">
        <!--  CARD  -->
        <div class="card small hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#"><img src="/3d_assets/2.jpg"></a>
          </div>
          <div class="card-content">
            <span class="grey-text text-darken-4">Style #<i class="grey-text material-icons right activator tooltipped"
                data-position="left" data-tooltip="Click for more info">info</i></span><br>
            <small class="grey-text text-darken-2">Style Name</small><br>
            <small class="grey-text text-darken-2">Item #</small>
          </div>
          <div class="card-action">
            <a href="#" class="btn-small black waves-effect waves-block waves-light">VIEW 3D</a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text">Item #<i class="material-icons right">close</i></span>
            <p>Color, zipper, thread, and more info here once clicked on...</p>
          </div>
        </div>
        <!-- CARD END -->
        <!--  CARD  -->
        <div class="card small hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#"><img src="/3d_assets/2.jpg"></a>
          </div>
          <div class="card-content">
            <span class="grey-text text-darken-4">Style #<i class="grey-text material-icons right activator tooltipped"
                data-position="left" data-tooltip="Click for more info">info</i></span><br>
            <small class="grey-text text-darken-2">Style Name</small><br>
            <small class="grey-text text-darken-2">Item #</small>
          </div>
          <div class="card-action">
            <a href="#" class="btn-small black waves-effect waves-block waves-light">VIEW 3D</a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text">Item #<i class="material-icons right">close</i></span>
            <p>Color, zipper, thread, and more info here once clicked on...</p>
          </div>
        </div>
        <!-- CARD END -->
        <!--  CARD  -->
        <div class="card small hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#"><img src="/3d_assets/2.jpg"></a>
          </div>
          <div class="card-content">
            <span class="grey-text text-darken-4">Style #<i class="grey-text material-icons right activator tooltipped"
                data-position="left" data-tooltip="Click for more info">info</i></span><br>
            <small class="grey-text text-darken-2">Style Name</small><br>
            <small class="grey-text text-darken-2">Item #</small>
          </div>
          <div class="card-action">
            <a href="#" class="btn-small black waves-effect waves-block waves-light">VIEW 3D</a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text">Item #<i class="material-icons right">close</i></span>
            <p>Color, zipper, thread, and more info here once clicked on...</p>
          </div>
        </div>
        <!-- CARD END -->
        <!--  CARD  -->
        <div class="card small hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#"><img src="/3d_assets/2.jpg"></a>
          </div>
          <div class="card-content">
            <span class="grey-text text-darken-4">Style #<i class="grey-text material-icons right activator tooltipped"
                data-position="left" data-tooltip="Click for more info">info</i></span><br>
            <small class="grey-text text-darken-2">Style Name</small><br>
            <small class="grey-text text-darken-2">Item #</small>
          </div>
          <div class="card-action">
            <a href="#" class="btn-small black waves-effect waves-block waves-light">VIEW 3D</a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text">Item #<i class="material-icons right">close</i></span>
            <p>Color, zipper, thread, and more info here once clicked on...</p>
          </div>
        </div>
        <!-- CARD END -->
        <!--  CARD  -->
        <div class="card small hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#"><img src="/3d_assets/2.jpg"></a>
          </div>
          <div class="card-content">
            <span class="grey-text text-darken-4">Style #<i class="grey-text material-icons right activator tooltipped"
                data-position="left" data-tooltip="Click for more info">info</i></span><br>
            <small class="grey-text text-darken-2">Style Name</small><br>
            <small class="grey-text text-darken-2">Item #</small>
          </div>
          <div class="card-action">
            <a href="#" class="btn-small black waves-effect waves-block waves-light">VIEW 3D</a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text">Item #<i class="material-icons right">close</i></span>
            <p>Color, zipper, thread, and more info here once clicked on...</p>
          </div>
        </div>
        <!-- CARD END -->
        <!--  CARD  -->
        <div class="card small hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#"><img src="/3d_assets/2.jpg"></a>
          </div>
          <div class="card-content">
            <span class="grey-text text-darken-4">Style #<i class="grey-text material-icons right activator tooltipped"
                data-position="left" data-tooltip="Click for more info">info</i></span><br>
            <small class="grey-text text-darken-2">Style Name</small><br>
            <small class="grey-text text-darken-2">Item #</small>
          </div>
          <div class="card-action">
            <a href="#" class="btn-small black waves-effect waves-block waves-light">VIEW 3D</a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text">Item #<i class="material-icons right">close</i></span>
            <p>Color, zipper, thread, and more info here once clicked on...</p>
          </div>
        </div>
        <!-- CARD END -->
        <!--  CARD  -->
        <div class="card small hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#"><img src="/3d_assets/2.jpg"></a>
          </div>
          <div class="card-content">
            <span class="grey-text text-darken-4">Style #<i class="grey-text material-icons right activator tooltipped"
                data-position="left" data-tooltip="Click for more info">info</i></span><br>
            <small class="grey-text text-darken-2">Style Name</small><br>
            <small class="grey-text text-darken-2">Item #</small>
          </div>
          <div class="card-action">
            <a href="#" class="btn-small black waves-effect waves-block waves-light">VIEW 3D</a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text">Item #<i class="material-icons right">close</i></span>
            <p>Color, zipper, thread, and more info here once clicked on...</p>
          </div>
        </div>
        <!-- CARD END -->
        <!--  CARD  -->
        <div class="card small hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#"><img src="/3d_assets/2.jpg"></a>
          </div>
          <div class="card-content">
            <span class="grey-text text-darken-4">Style #<i class="grey-text material-icons right activator tooltipped"
                data-position="left" data-tooltip="Click for more info">info</i></span><br>
            <small class="grey-text text-darken-2">Style Name</small><br>
            <small class="grey-text text-darken-2">Item #</small>
          </div>
          <div class="card-action">
            <a href="#" class="btn-small black waves-effect waves-block waves-light">VIEW 3D</a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text">Item #<i class="material-icons right">close</i></span>
            <p>Color, zipper, thread, and more info here once clicked on...</p>
          </div>
        </div>
        <!-- CARD END -->
      </div>
    </div>
  </div>

  {{#if user}}
  {{#if user.editOrders}}
  <div class="fixed-action-btn">
    <a href="/orders/edit/{{order._id}}" class="btn-floating btn-large green tooltipped" data-position="left"
      data-tooltip="Edit Order Details">
      <i class="large material-icons">edit</i>
    </a>
    <ul>
      {{#if user.editProofs}}
      {{#if (checkForQCStatus order.currentStatus)}}
      <li><a class="btn-floating red tooltipped" data-position="left" data-tooltip="QC Order"><i class="material-icons">touch_app</i></a></li>
      {{/if}}
      {{/if}}
      <li>
        <a href="#modal2" class="btn-floating grey lighten-1 tooltipped modal-trigger" data-position="left"
          data-tooltip="Add Notes/Instructions">
          <i class="material-icons">add_comment</i>
        </a>
      </li>
      {{#if (checkForRevisionStatus order.currentStatus)}}
      <li>
        <a href="#modal1" class="btn-floating light-blue lighten-2 waves-effect waves-light tooltipped modal-trigger"
          data-position="left" data-tooltip="Request Revision">
          <i class="material-icons">flag</i>
        </a>
      </li>
      {{/if}}
    </ul>
  </div>
  {{/if}}
  {{/if}}

  <!-- Add Revision Modal -->
  <div id="modal1" class="modal">
    <form action="/orders/revision/{{order._id}}?_method=PUT" method="post">
      <div class="container">
        <input type="hidden" name="_method" value="PUT">
        <div class="modal-content">
          <div class="row">
            <div class="input-field col s12">
              <select name="isr">
                <option value="AHOOGEVEN">Adam</option>
                <option value="DOSULLIVAN">Dean</option>
                <option value="RPILLER">Reed</option>
                <option value="SROBINSON">Sheila</option>
              </select>
              <label for="isr">Revision Requested By:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea name="instruction" class="materialize-textarea" placeholder="type instructions here..."
                required></textarea>
              <label for="instruction">Revision Instructions:</label>
            </div>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="modal-action modal-close btn waves-effect waves-light" type="submit" name="action" style="margin-right: 10px;"><i
            class="fas fa-check-square"></i>
          Submit
        </button>
        <a href="#" id="cancel" name="cancel" class="modal-action modal-close btn waves-effect waves-light red"><i
            class="fas fa-times"></i>
          Cancel</a>
      </div>
    </form>
  </div>

  <!-- Add Notes Modal -->
  <div class="container">
    <div class="container"></div>
    <div id="modal2" class="modal">

      <form action="/orders/notes/{{order._id}}?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="modal-content">
          <div class="row">
            <div class="input-field col s12 m6">
              <input style="text-transform: uppercase;" placeholder="enter name..." name="noteUser" type="text" class="validate"
                {{#if user}} value="{{getHandle
              user.username}}" {{/if}} required>
              <label for="noteUser">Note By:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea name="instruction" class="materialize-textarea" required></textarea>
              <label for="instruction">Enter Note Details:</label>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="modal-action modal-close btn waves-effect waves-light" type="submit" name="action" style="margin-right: 10px;"><i
              class="fas fa-check-square"></i>
            Submit
          </button>
          <a href="#" id="cancel" name="cancel" class="modal-action modal-close btn waves-effect waves-light red"><i
              class="fas fa-times"></i>
            Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>

</div>