<div class="container">
  <section class="section center">
    <div class="row">
      <div class="card col s12">
        <div class="card-content">
          <span class="card-title">Order Details - {{order.orderNum}}</span>
          <div class="row">
            <div class="col s12 m4">
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="orderNum" value="{{order.orderNum}}" readonly>
                  <label for="orderNum">Order #:</label>
                </div>
                <div class="input-field col s12">
                  <input type="text" name="client" value="{{order.client}}" readonly>
                  <label for="orderNum">Client:</label>
                </div>
                <div class="input-field col s12">
                  <input type="text" name="priority" value={{order.priority}} readonly>
                  <label for="priority">Priority:</label>
                </div>
                <div class="input-field col s12">
                  <input type="text" name="requestDate" value="{{formatDate order.requestDate "MMM Do YYYY"}}" readonly>
                  <label for="requestDate">Request Date:</label>
                </div>
                <div class="input-field col s12">
                  <input type="text" name="eventDate" value="{{formatDate order.eventDate "MMM Do YYYY"}}" readonly>
                  <label for="eventDate">Event Date:</label>
                </div>
                <div class="input-field col s12">
                  <input type="text" name="latestInHand" value="{{formatDate order.latestInHand "MMM Do YYYY"}}"
                    readonly>
                  <label for="latestInHand">Latest In-Hand Date:</label>
                </div>
              </div>
            </div>
            <div class="col s12 m8">
              <div class="input-field col s12 m8">
                <input type="text" name="currentStatus" value="{{order.currentStatus}}" readonly>
                <label for="currentStatus">Status:</label>
              </div>
              <div class="input-field col s12 m4">
                <input type="text" name="currentArtist" value="{{order.currentArtist}}" readonly>
                <label for="currentArtist">Current Artist:</label>
              </div>
              <div class="col s12 instructionsBox">
                <span>Order History</span>
                <div class="collection left-align">
                  {{#each (getInstructions order.instructions)}}
                  <div class="collection-item grey">
                    <small class="white-text">{{this.instructionType}} - {{formatDate this.date "MMMM Do YYYY"}} -
                      {{this.user}}</small><br>
                    {{this.instruction}}
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-action left-align">
          <a href="#" class="btn black">view proofs</a>
        </div>
        {{#if user.editOrders}}
        <div class="fixed-action-btn">
          <a class="btn-floating btn-large grey">
            <i class="large material-icons">edit</i>
          </a>
          <ul>
            {{#if user.editProofs}}
            <li><a class="btn-floating black tooltipped" data-position="left" data-tooltip="QC Order"><i class="material-icons">gavel</i></a></li>
            {{/if}}
            <li><a class="btn-floating black tooltipped" data-position="left" data-tooltip="Add Notes/Instructions"><i
                  class="material-icons">add_comment</i></a></li>
            <li><a class="btn-floating black tooltipped" data-position="left" data-tooltip="Edit Order Details"><i
                  class="material-icons">view_list</i></a></li>
          </ul>
        </div>
        {{/if}}

      </div>
  </section>
</div>