<div class="container">
  <div class="row">
    <div class="col s12 l4">
      <div class="detailsBox center-align">
        <div class="row">
          {{#if user}}
          <div class="col s12 center-align" style="padding: 15px;">
            <div class="col s12" style="margin-bottom: 5px; margin-top: 0px;">
              <span style="font-weight:100; font-size:1.5rem;">Order Details: {{order.orderNum}}</span>
            </div>
            <div class="col s12">
              <a class="btn green waves-block waves-effect waves-light" href="/3d_assets/{{order.orderNum}}/{{order.orderNum}}.pdf">VIEW
                FLAT PDF</a>
            </div>
          </div>
          <div class="col s12 center-align" style="padding: 10px;">
            <span style="font-weight:300; font-size:1.25em; margin-right: 5px;">Current Status:</span><br><span style="font-weight:600; font-size:1.5rem;">{{stripStatusCode
              order.currentStatus}}</span>
          </div>
          {{else}}
          <div class="col s12 center-align" style="padding: 15px;">
            <div class="col s12" style="margin-bottom: 5px;">
              <span style="font-weight:100; font-size:1.5rem;">Order Details: {{order.orderNum}}</span>
            </div>
            <div class="col s12">
              <a class="btn green waves-block waves-effect waves-light" href="/3d_assets/{{order.orderNum}}/{{order.orderNum}}.pdf">VIEW
                FLAT PDF</a>
            </div>
          </div>
          <br>
          <span style="font-weight: bold; font-size: 12px;">Art Proof Notes:</span><br>
          <span style="font-size: 12px; margin: 5px 30px;">The art proofs provided are based on a
            size large for men
            and size medium for women only. The artwork will vary
            slightly per size. Sugoi Swatches are matched as closely as possible to your artwork. Due to the nature
            of the
            sublimation process, lighting conditions, monitor manufacturing differences and calibrations, and fabric
            differences used througout the garment, the color viewed on your screen may vary from the printed
            finished product
            color.</span>
          {{/if}}
        </div>
        {{#if user}}
        <hr>
        <div class="row">
          <div class="col s12 center-align" style="padding: 6px 0;">
            <span class="grey-text">Entered: </span>{{formatDate order.requestDate "DD-MMM"}}
          </div>
          {{#if order.eventDate}}
          <div class="col s6 center-align" style="padding: 6px 0;">
            <span class="grey-text">Event Date:</span><br>{{formatDate order.eventDate "DD-MMM"}}
          </div>
          {{/if}}
          {{#if order.latestInHand}}
          <div class="col s6 center-align" style="padding: 6px 0;">
            <span class="grey-text">Needed In-Hand:</span><br>{{formatDate order.latestInHand "DD-MMM"}}
          </div>
          {{/if}}
          {{#if order.currentArtist}}
          <div class="col s6 center-align" style="padding: 6px 0;">
            <span class="grey-text">Current Artist:</span><br>{{order.currentArtist}}
          </div>
          {{/if}}
        </div>
        {{#if order.instructions}}
        <hr>
        <div class="row">
          <div class="col s12 center-align">
            <h6 style="font-weight: 600;">Order Notes</h5>
              <div class="instructionsBox center-align">
                <ul class="collapsible">
                  {{#each (getInstructions order.instructions)}}
                  <li>
                    <div class="collapsible-header valign-wrapper {{{catNotes this.instructionType}}}">
                      <div class="col s9 valign-wrapper" style="font-weight: 600;">
                        <i class="material-icons left">expand_more</i>{{formatDate this.date "DD-MMM"}} -
                        {{this.user}} - {{this.instructionType}}
                      </div>
                      <div class="col s3 valign-wrapper">
                        <a class="white-text" href="/orders/note-edit/{{this._id}}">
                          <i class="material-icons right">edit</i>
                        </a>
                      </div>
                    </div>
                    <div class="collapsible-body white">{{this.instruction}}</div>
                  </li>
                  {{/each}}
                </ul>
              </div>
          </div>
        </div>
        {{/if}}
        {{/if}}
      </div>
    </div>
    <div class="col s12 l8">
      <div id="proofWindow">
        {{#each proofs}}
        <!--  CARD  -->
        <div class="card small hoverable">
          {{#if hasQCNote}}
          <div class="QCHover">
            <a href="/proofs/qc/{{orderNum}}" class="red-text right"><i class="material-icons">flag</i></a>
          </div>
          {{/if}}
          <div class="card-image waves-effect waves-block waves-light">
            <a href="/proofs/{{_id}}"><img src="{{viewImgLink}}" onerror="this.src='/images/missing.jpg'"></a>
          </div>
          <div class="card-content" style="line-height: normal;">
            <span style="font-weight:700; font-size: 12px;">{{gender}} {{styleName}}<i class="material-icons right activator">more_vert</i></span><br>
            <small class="grey-text text-darken-2">{{styleNumber}}</small><br>
            <small class="grey-text">{{itemNumber}}</small>
          </div>
          <div class="card-action">
            <a href="/proofs/{{_id}}" class="btn-small black waves-effect waves-block waves-light">VIEW 3D</a>
          </div>
          <div class="card-reveal" style="font-size: 12px;">
            <span class="card-title grey-text text-darken-4" style="font-weight:300; font-size:1.15rem; margin-bottom: 0px;">{{itemNumber}}<i
                class="material-icons right">close</i></span><br>
            <span class="grey-text">{{styleNumber}}</span><br>
            <span class="grey-text">{{styleName}}</span>
            <hr>
            <span class="grey-text">Fit:</span><span> {{fit}}</span><br>
            <span class="grey-text">Fabric:</span><span> {{fabric}}</span><br>
            <hr>
            <span class="grey-text">Proof Date:</span><span> {{formatDate prfDate "DD-MMM"}}</span><br>
            <span class="grey-text">Art:</span><span> {{artist}}</span><br>
            <span class="grey-text">SO# Reference:</span><span> {{soRef}}</span><br>
            <span class="grey-text">CWO# Reference:</span><span> {{cwoRef}}</span><br>
            <span class="grey-text">Thread:</span><span> {{thread}}</span><br>
            <span class="grey-text">Zipper:</span><span> {{zipper}}</span><br>
            <span class="grey-text">Contrast:</span><span> {{contrast}}</span>
            <hr>
            Please view the Flat PDF to view colours used in the artwork
          </div>
        </div>
        <!-- CARD END -->
        {{else}}
        <span class="center-align grey-text" style="margin-top: 40px; font-weight:100; font-size:3rem;">
          <p>Proofs not available</p>
        </span>
        {{/each}}
      </div>
    </div>
  </div>

  {{#if user}}
  {{#if user.editOrders}}
  <div class="fixed-action-btn">
    <a href="/orders/edit/{{order._id}}" class="btn-floating btn-large green tooltipped" data-position="left"
      data-tooltip="Edit Order Details">
      <i class="large material-icons">edit</i>
    </a>
    <ul>
      {{#if user.editProofs}}
      {{#if (checkForQCStatus order.currentStatus)}}
      <li><a href="/proofs/qc/{{order.orderNum}}" class="btn-floating red tooltipped" data-position="left" data-tooltip="QC Order"><i
            class="material-icons">touch_app</i></a></li>
      {{/if}}
      <li><a href="/proofs/qc/archive/view/{{order.orderNum}}" class="btn-floating red tooltipped" data-position="left"
          data-tooltip="QC Archive"><i class="material-icons">
            format_list_bulleted
          </i></a></li>
      {{/if}}
      <li>
        <a href="#modal2" class="btn-floating grey lighten-1 tooltipped modal-trigger" data-position="left"
          data-tooltip="Add Notes/Instructions">
          <i class="material-icons">add_comment</i>
        </a>
      </li>
      {{#if (checkForRevisionStatus order.currentStatus)}}
      <li>
        <a href="#modal1" class="btn-floating light-blue lighten-2 waves-effect waves-light tooltipped modal-trigger"
          data-position="left" data-tooltip="Request Revision">
          <i class="material-icons">flag</i>
        </a>
      </li>
      {{/if}}
    </ul>
  </div>
  {{/if}}
  {{/if}}

  <!-- Add Revision Modal -->
  <div id="modal1" class="modal">
    <form action="/orders/revision/{{order._id}}?_method=PUT" method="post">
      <div class="container">
        <input type="hidden" name="_method" value="PUT">
        <div class="modal-content">
          <div class="row">
            <div class="input-field col s12">
              <select name="isr">
                <option value="ADAM">Adam</option>
                <option value="DEAN">Dean</option>
                <option value="REED">Reed</option>
                <option value="SHEILA">Sheila</option>
              </select>
              <label for="isr">Revision Requested By:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea name="instruction" class="materialize-textarea" placeholder="type instructions here..."
                required></textarea>
              <label for="instruction">Revision Instructions:</label>
            </div>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="modal-action modal-close btn waves-effect waves-light" type="submit" name="action" style="margin-right: 10px;"><i
            class="fas fa-check-square"></i>
          Submit
        </button>
        <a href="#" id="cancel" name="cancel" class="modal-action modal-close btn waves-effect waves-light red"><i
            class="fas fa-times"></i>
          Cancel</a>
      </div>
    </form>
  </div>

  <!-- Add Notes Modal -->
  <div class="container">
    <div class="container"></div>
    <div id="modal2" class="modal">

      <form action="/orders/notes/{{order._id}}?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="modal-content">
          <div class="row">
            <div class="input-field col s12 m6">
              <input style="text-transform: uppercase;" placeholder="enter name..." name="noteUser" type="text" class="validate"
                {{#if user}} value="{{getHandle
              user.username}}" {{/if}} required>
              <label for="noteUser">Note By:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea name="instruction" class="materialize-textarea" required></textarea>
              <label for="instruction">Enter Note Details:</label>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="modal-action modal-close btn waves-effect waves-light" type="submit" name="action" style="margin-right: 10px;"><i
              class="fas fa-check-square"></i>
            Submit
          </button>
          <a href="#" id="cancel" name="cancel" class="modal-action modal-close btn waves-effect waves-light red"><i
              class="fas fa-times"></i>
            Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>

{{#if user}}
<div id="backButton"><a href="/orders"><i class="material-icons large">chevron_left</i></a></div>
{{/if}}