<div class="container row" style="margin-top: 20px; margin-bottom: 50px;">
  <h5 class='center-align'>Custom Order Reports</h5>
  <div class="input-field col s4">
    <select id="weekSelector">
      {{#each reports}}
      <option value="{{@index}}">{{reportWeekRange}}</option>
      {{/each}}
    </select>
    <label>Select Week</label>
  </div>
  <div class="chart"></div>
</div>


<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
  var chartSelection = $("#weekSelector").val();
  var proofsCompletedArray = [];
  var revisionsCompletedArray = [];
  var outputCompletedArray = [];
  {{#each reports}}
    proofsCompletedArray.push({{proofsCompleted}});
    revisionsCompletedArray.push({{revisionsCompleted}});
    outputCompletedArray.push({{outputCompleted}});
  {{/each}}
  var proofsAvgArray = [];
  var revisionAvgArray = [];
  var outputAvgArray = [];
  {{#each averages}}
    proofsAvgArray.push({{proofAvg}});
    revisionAvgArray.push({{revisionAvg}});
    outputAvgArray.push({{outputAvg}});
  {{/each}}

  chartSelection = parseInt(chartSelection);

  var selectedProofsCompleted = proofsCompletedArray[chartSelection];
  var selectedRevisionsCompleted = revisionsCompletedArray[chartSelection];
  var selectedOutputCompleted = outputCompletedArray[chartSelection];
  var selectedProofsAvg = proofsAvgArray[chartSelection];
  var selectedRevisionssAvg = revisionAvgArray[chartSelection];
  var selectedOutputsCompleted = outputAvgArray[chartSelection];

  var options = {
    chart: {
      height: 500,
      type: 'bar',
      stacked: true
    },
    plotOptions: {
      bar: {
        distributed: true
      }
    },
    series: [
      {
        name: 'Completed',
        data: [selectedProofsCompleted,selectedRevisionsCompleted,selectedOutputCompleted ]
      },
      {
        name: 'Avg. Turn-Around (Days)'//,
        data: [selectedProofsAvg, selectedRevisionssAvg, selectedOutputsCompleted]
      }
    ],
    xaxis: { categories: ["Proofs", "Revisions", "Output"] }
  }

  var chart = new ApexCharts(document.querySelector(".chart"), options);

  chart.render();
  
</script>