<div class="container row" style="margin-top: 20px; margin-bottom: 50px;">
  <h5 class='center-align'>Custom Order Reports</h5>
  <div class="input-field col s4">
    <select id="weekSelector">
      {{#each reports}}
      <option value="{{reportWeekNumber}}">{{reportWeekRange}}</option>
      {{/each}}
    </select>
    <label>Select Week</label>
  </div>
  <div class="chart"></div>
</div>


<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
  var chartSelection = $("#weekSelector").val();
  chartSelection = parseInt(chartSelection);
  console.log (chartSelection);
  var options = {
    chart: {
      height: 500,
      type: 'bar',
      stacked: true
    },
    
    plotOptions: {
      bar: {
        distributed: true
      }
    },
    series: [
      {
        name: 'Completed',
        data: [{{ reports.chartSelection.proofsCompleted }}, {{ reports.chartSelection.revisionsCompleted }}, {{ reports.chartSelection.outputCompleted }}]
      },
      {
        name: 'Avg. Turn-Around (Days)',
        data: [{{ reports.chartSelection.avgProofs }}, {{ reports.chartSelection.avgRevisions }}, {{ reports.chartSelection.avgOutput }}]
      }
    ],
    xaxis: { categories: ["Proofs", "Revisions", "Output"] }
  }

  var chart = new ApexCharts(document.querySelector(".chart"), options);

  chart.render();
  
</script>