<div class="container row" style="margin-top: 20px; margin-bottom: 50px;">
  <h5 class='center-align'>Custom Order Reports</h5>
  <div class="input-field col s4">
    <select name="weekSelector">
      {{#each reports}}
      <option value="{{@index}}">{{reportWeekRange}}</option>
      {{/each}}
    </select>
    <label>Select Week</label>
  </div>
  <div class="chart"></div>
</div>


<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
  let selectedChart = $('select[name=weekSelector]').val();

  var options = {
    chart: {
      height: 500,
      type: 'bar',
      stacked: true
    },
    plotOptions: {
      bar: {
        distributed: true
      }
    },
    series: [
      {
        name: 'Completed',
        data: [reports.[selectedChart].proofsCompleted, reports.[selectedChart].revisionsCompleted , reports.[selectedChart].outputCompleted]
      },
      {
        name: 'Avg. Turn-Around (Days)',
        data: [{{ callReports averages selectedChart proofAvg }}, {{ callReports averages selectedChart revisionAvg }}, {{ callReports averages selectedChart outputAvg }}]
      }
    ],
    xaxis: { categories: ["Proofs", "Revisions", "Output"] }
  }

  var chart = new ApexCharts(document.querySelector(".chart"), options);

  chart.render();
  
</script>