<div class="main-loader">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
<h3 class="center" style="font-weight: 100;">QC Archive - {{orderNum}}</h3>
<div style="margin-top: 20px; margin-bottom: 50px;" class="container">
  <table class="display nowrap" id="qcTable">
    <thead>
      <tr>
        <th>Date:</th>
        <th>QC By:</th>
        <th>Item #:</th>
        <th>Note:</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {{#each foundProofs}}
      {{#each this.qcnotearchive}}
      <tr>
        <td style="font-size: 12px;" class="center-align">{{formatDate this.noteDate "D-MMM-YY"}}</td>
        <td style="font-size: 12px;" class="center-align">{{this.noteUser}}</td>
        <td style="font-size: 12px;" class="center-align">{{../this.itemNumber}}<br>{{../this.styleNumber}}</td>
        <td style="font-size: 14px; text-align: justify; white-space: pre-line; padding: 20px;" class="grey white-text">
          {{this.note}}</td>
      </tr>
      {{/each}}
      {{/each}}
    </tbody>
  </table>
</div>

<div id="backButton"><a href="javascript:history.back()"><i class="material-icons large">chevron_left</i></a></div>